
/* ----------------- Titles & Text ----------------- */
.newsletter-block{
  margin: 60px 0 !important;
}
.tst-suptitle {
  font-family: "Roboto";
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  margin: 0;
}

.tst-suptitle:before {
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 4px;
  background-color: #f39c12;
}

.tst-suptitle.tst-suptitle-center {
  text-align: center;
  padding-top: 20px;
}

.tst-suptitle.tst-suptitle-center:before {
  top: 0;
  left: 50%;
  margin-left: 0 !important;
}


.tst-title--h {
  font-family: "Belleza";
  font-size: 52px;
  font-weight: 400;
  color: var(--colorFont);
  margin: 20px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.newsletter-text {
  font-size: 16px;
  color: #777;
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0 auto;
}


/* ----------------- Blog Card ----------------- */
.blog-card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.category {
  background: #f76e2a;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}
.blog-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-text {
  color: #555;
  font-size: 15px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.author i {
  font-size: 24px;
  margin-right: 8px;
  color: gray;
}

.read-more {
  color: #f76e2a;
  font-weight: bold;
  font-size: 14px;
}

/* ----------------- Utilities ----------------- */
.footer {
  opacity: .7;
  margin: 0 0 30px 0;
  line-height: 1.7;
}

.tst-spacer {
  height: 0;
  margin: 60px 0;
  border-bottom: dotted 4px rgba(26, 47, 51, .7);
}

.tst-spacer-sm {
  height: 1px;
  margin: 15px 0;
  border-bottom: dotted 2px rgba(26, 47, 51, .7);
  opacity: .3;
}


.text-center.app-txt-center {
  margin: 20px;
  margin-top: 150px;
  text-align: center;
}

.container-app {
  overflow: hidden;
}

/* END OF APP */

