/* start subscribe */

.subscribe {
  position: relative;
  background-image: url(../public/images/reservation);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
}

.subscribe .row-subscribe {
  gap: 20px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 47, 51, 0.5);
  top: 0;
}

.subscribe .container {
  position: relative;
  z-index: 2;
}

.subscribe .container .col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscribe .container p:first-child {
  position: relative;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
  left: 50px;
  width: 0;
}

.subscribe .container p:first-child::after {
  position: absolute;
  content: "";
  background-color: var(--main-color);
  width: 30px;
  height: 4px;
  border-radius: 3px;
  top: 3px;
  left: -45px;
}

.subscribe .container h1 {
  font-family: var(--font-family-secondary);
  font-size: 62px;
  color: white;
  padding-right: 376px;
}

.subscribe .container .p {
  font-family: var(--font-family);
  font-size: 16px;
  color: white;
}

.subscribe .container .col>div #email {
  outline: none;
  border-style: none;
  background-color: white;
  padding: 20px 120px 20px 30px;
}

.subscribe .container .col>div .btn {
  background-color: var(--main-color);
  color: white;
  outline: none;
  height: 100%;
  margin-left: -61px;
  border-style: none;
  font-family: var(--third-font-family);
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 30px;
  border-radius: 0;
  transition: all 0.5s ease;
}

.subscribe .container .col>div .btn:hover {
  transform: scale(1.02);
}

/* ========== Subscribe Section Media Queries ========== */

@media (min-width: 992px) and (max-width: 1280px) {
  .subscribe .container .col>div #email {
    width: 100%;
  }

  .subscribe .container .col>div .btn {
    margin-left: 0;
    margin-top: 0;
  }

  .subscribe .container .col>div #email {
    width: 100%;
  }

  .testimonials .title p:last-child {
    padding: 0 340px;
  }
}


@media (max-width: 992px) {
  .container .col>div .ele {
    display: flex;
    justify-content: center;
  }

  .subscribe .container .col>div #email {
    padding: 20px 50px 20px 30px;
  }

  .subscribe .container .col>div .btn {
    margin-left: 0;
    margin-top: 30px;
  }

  .subscribe .container h1 {
    padding-right: 0;
    font-size: 42px;
  }
}


@media (max-width: 991px) {
  .subscribe .container p:first-child {
    left: 0px;
    text-align: center;
    width: 100%;
  }

  .subscribe .container p:first-child::after {
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .subscribe .container h1 {
    text-align: center;
  }

  .subscribe .container .p {
    text-align: center;
  }

  @media (max-width:866px) and (min-width:573px) {
    .reservation-form textarea {
      width: 205% !important;
    }
  }

  @media ((max-width:572px)) {
    .reservation-form textarea {
      width: 100% !important;
    }
  }
}

/* end subscribe */