@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

:root {
  --main-color: #f76e2a;
  --colorFont: rgb(26, 47, 51);
  --secondary-color: #869193;
  --font-family: "Roboto", sans-serif;
  --font-family-secondary: "Belleza", sans-serif;
  --third-font-family: "Cinzel", sans-serif;
  --text-color: #F3F2F0;
  --cinzel-font: 'Cinzel', serif;
  --menu-item-color: #F3F2F0;
}

.container {
  max-width: 1240px;
}

p {
  margin-bottom: 0;
}

* {
  scrollbar-width: thin;
  /* auto | thin | none */
  scrollbar-color: var(--main-color) var(--colorFont);
  /* thumb color | track color */
}

/* ====================== start of the header ==================================== */
.navbar {
  z-index: 1000;
}

header {
  min-height: 80px;
  background-color: transparent;
  padding-top: 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000000;
  transition: all ease 0.4s;
}

/* When scrolled */
header.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header.scrolled .nav-link,
header.scrolled .logo h4,
header.scrolled .logo h6,
header.scrolled .icon-shopping i {
  color: var(--colorFont) !important;
}

header.scrolled .navbar-toggler-icon {
  filter: invert(0);
}

header.scrolled .navbar-toggler{
  border-color: grey !important;
}

header .nav-link,
header .logo h4,
header .logo h6,
header .icon-shopping i {
  color: #ffffff !important;
}

.nav-links .home i {
  color: var(--main-color);
}

.nav-links .navbar-nav .nav-item {
  position: relative;
}

.nav-links .navbar-nav .nav-item .after-home::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px 2px 0 0;
  ;
  position: absolute;
  background-color: var(--main-color);
  top: 138%;
  left: 0;
  animation: active 0.3s 1 linear;
}

@keyframes active {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.navbar .nav-item .nav-link {
  font-size: 16px;
  font-weight: 550;
  text-transform: none;
  letter-spacing: 0px;
  font-family: var(--font-family);
}

.dropdown-menu {
  background-color: var(--main-color);
  border-radius: 0px;
  transition: all 0.7 ease-in-out;
  min-width: 123px;
}

.dropdown-item {
  color: white;
  padding: 8px 16px;
}

.dropdown-item:hover {
  background-color: var(--main-color);
  color: #ffdcca;
}

.header-right-side {
  gap: 37px;
}

.header-right-side button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 16px 27px;
  letter-spacing: 1px;
  font-size: 14px;
  transition: all 0.6s ease-in-out;
}

.header-right-side button:hover {
  transform: scale(1.03);
}

.icon-shopping i {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.icon-shopping i:hover {
  transform: scale(1.06);
  color: #dddddd;
}

#cart-count {
  background-color: #2ecc71;
  padding-right: 7px;
  padding-left: 7px;
}

.navbar-toggler {
  border-color: #fff;
  padding: 4px 13px !important;
}

.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);
  filter: invert(1);
  font-size: 16px;
}