@media(min-width:992px)and (max-width: 1280px) {
 footer .container .row {
    justify-content: space-between;
    gap: 0rem;
  }
}
@media(max-width:992px) {
  footer .container .row {
    justify-content: space-between;
    gap: 1.8rem;

  }
}
@media (min-width: 768px) and (max-width: 912px) {

  .socials {
    position: static;
    justify-content: flex-end;

  }

  footer .container .row {
    gap: 0;
  }

  footer span {
    color: #6D797B;
    font-size: .69rem;
  }

  footer p {
    font-size: .9rem;

  }

  footer h3 {
    margin-bottom: .5rem;
  }
}