.hero-section {
  height: 33rem;
  background-image: url("../../../../assets/images/reservation-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* ----------------------- */
  /* margin-bottom: 60px; */
}

.hero-section .newsletter-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 33rem;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(6, 34, 39, 0.849) 10%, rgba(6, 34, 39, 0.0) 100%);
}

.hero-section .main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5EBEF;
    position: relative;
}

.hero-section .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 6.1rem;
}