.pricing-hero {
  height: 21.9rem;
}

.pricing-hero .bgImg {
  position: absolute;
  width: 100%;
  height: 23rem;
  object-fit: cover;
  top: 0;
  left: 0;
}

.pricing-hero .shop-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 23rem;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(6, 34, 39, 0.849) 10%, rgba(6, 34, 39, 0.0) 100%);

}
.pricing-hero .container{
  z-index: 2;
  position: relative;
}
.pricing-hero .main-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  color: #E5EBEF;
  margin: 4rem 0;
}

.pricing-hero .main-text h5 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: .8rem;
  letter-spacing: 1.5px;
  position: relative;
}

.pricing-hero .main-text h5::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.27rem;
  bottom: 36px;
  left: 38px;
  background-color: var(--main-color);
  border-radius: 1rem;

}

.pricing-hero .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 6.4rem;
  margin-top: 4rem;
}
@media (max-width:400px) {
  .pricing-hero .main-text h1 {
   font-size: 4.4rem;
  }
}
.pricing-hero .main-text p {
  font-family: var(--font-family);
  color: #dddddd;
  font-weight: 500;
  text-align: center;
  line-height: -4px;
}
/* start pricing */
.pricing .pricing-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.pricing .pricing-title::after {
  position: absolute;
  content: '';
  width: 26px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--main-color);
  top: 0;
}

.pricing .pricing-title p:first-child {
  font-family: var(--font-family);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  color: var(--colorFont);
  margin: 10px 0;
  margin-top: 20px;
}

.pricing .pricing-title p:last-child {
  font-family: var(--font-family);
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
  margin: 10px 0;
}

.pricing .pricing-title h1 {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  font-style: normal;
  color: var(--colorFont);
}
.pricing .container .row{
  margin:20px 0 100px 0;
}
.pricing .container .col-lg-4{
  margin: 20px 0;
}
.pricing .container .col-lg-4 .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 100%;
  height: 100%;
  border: rgb(190, 190, 190) dotted 2px;
}
.pricing .container .col-lg-4 .content img{
  width: 75px;
  object-fit: cover;
}
.pricing .container .col-lg-4 .content h4{
  font-family: var(--font-family-secondary);
  color: var(--colorFont);
  font-size: 1.8rem;
  margin: 20px 0;
  text-align: center;
}
.pricing .container .col-lg-4 .content>div{
  display: flex;
  gap:10px;
  margin:10px;
  justify-content: center;
  align-items: center;
}
.pricing .container .col-lg-4 .content>div span{
  font-family:var(--font-family) ;
  color: var(--colorFont);
  font-size: 1.25rem;
  font-weight: 900;
}
.pricing .container .col-lg-4 .content>div span:nth-child(2){
  font-size: 3rem;
}
.pricing .container .col-lg-4 .content>p{
  color: var(--secondary-color);
  font-family: var(--font-family);
  width: 100%;
  text-align: center;
  vertical-align: center;
  padding: 20px 0;
  border-bottom: #d4d6d6 dotted 2px;
}
.pricing .container .col-lg-4 .content .deleted{
  color: #c1c3c4;
}
.pricing .container .col-lg-4 .content a{
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  font-family: var(--third-font-family);
  padding: 20px 30px;
  font-size: 0.9rem;
  margin: 40px 0 0 0;
  transition: all 0.5s ease;
}
.pricing .container .col-lg-4 .content a:hover{
  transform: scale(1.02);
}
.pricing .container .special .content{
  position: relative;
  background-color: var(--menu-item-color);
  border: 0;
  box-shadow:0 6px 13px #f2e4e4ed;
}
.pricing .container .special .content::before{
    content: '"';
    width: 110px;
    color: var(--main-color);
    position: absolute;
    top: -70px;
    right: 0;
    font-family: "Playfair Display", serif;
    font-size: 240px;
    line-height: 1;
    font-style: italic;
    text-shadow: 0 2px 7px rgba(26, 47, 51, .15);
}
/* end pricing */


@media (max-width:540px){
.pricing-hero .main-text h1 {
  
  font-size: 3.1rem ;
  margin-top:6rem ;
 

}
}