.hero-section {
  background-image: url("/src/assets/images/OUR-HISTORY.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
}


.hero-section .newsletter-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 33rem;
  width: 100%;
  z-index: 99;
  background-image: linear-gradient(90deg, rgba(6, 34, 39, 0.849) 10%, rgba(6, 34, 39, 0.0) 100%);
}

.hero-section .main-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  color: #E5EBEF;
  margin-top: 7.2rem;
}

.hero-section .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 6.1rem;
  z-index: 9999;
}

@media (max-width :485px){
.hero-section .main-text h1 {
    font-size: 3.2rem;}
}