

.shop-hero {
  height: 31rem !important;
  margin-bottom: 0rem;
  padding: 2rem 0;
}


.shop-hero .bgImg {
  position: absolute;
  /* z-index: -2; */
  width: 100%;
  height: 31rem !important;
  object-fit: cover;
  top: 0;
  left: 0;
}

.shop-hero .shop-overlay {

  top: 0;
  left: 0;
  position: absolute;
  height: 31rem !important;
  width: 100%;
  /* z-index: -1; */
  background-image: linear-gradient(90deg, rgba(6, 34, 39, 0.849) 10%, rgba(6, 34, 39, 0.0) 100%);

}

.shop-hero .main-text {

  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem !important;
  color: #E5EBEF;
  margin: 7rem 0 !important;
}

.shop-hero .main-text h5 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: .8rem;
  letter-spacing: 1.5px;
  position: relative;
    z-index: 2;
}

.shop-hero .main-text h5::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.27rem;
  bottom: 36px;
  left: 37px;
  background-color: var(--main-color);
  border-radius: 1rem;

}




.shop-hero .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 6.4rem;
    z-index: 2;

}

.shop-hero .main-text p {
  font-family: var(--font-family);
  color: #dddddd;
  font-weight: 500;
  text-align: center;
  line-height: -4px;
    z-index: 2;
}

.shop-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "categories products";
  margin: 50px 0;
  text-align: left;
}

.shop-categories h3 {
  color: var(--colorFont);
  font-family: var(--font-family-secondary);
  font-size: 1.2rem;
  font-weight: 800;
  text-align: left;
}

.shop-categories {
  padding: 2rem 1rem 1rem 1rem;
  grid-area: categories;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shop-categories form {
  position: relative;

}

.shop-categories form #searchInput {
  outline: none;
  width: 100%;
  padding: 10px 7px;
  border: none;
  box-shadow: 0px 0px 10px rgba(63, 63, 63, 0.123);
  border-radius: 5px;
 
}
form{
  margin: 0px;
}
.shop-categories form span {
  position: absolute;
  right: 11px;
  top: 9px;
}

#min-price,
#max-price {
  outline: none;
}
.categories {
    padding: 0;
}

.categories ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.categories ul li a {
  text-decoration: none;
  color: var(--colorFont);
  font-size: 1.19rem;
}

.sidebar-product-item {
  display: flex;
  gap: 1rem;
  background-color: var(--menu-item-color);
  margin-top: 1rem;
}

.product-sidebar-image-holder {
  position: relative;
  width: 6rem;
  height: 5.5rem;
}

.product-sidebar-image-holder img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-product-item-content {
  padding: 2px 0px;
}

.sidebar-product-item a {
  text-decoration: none;
  color: var(--colorFont);
  font-size: .8rem;
}

.sidebar-product-item span {
  color: var(--secondary-color);
}
.sidebar-product-item P {
  color: var(--colorFont);
}
.sidebar-product-item #price-offer {
  color: var(--secondary-color);
  font-size: .7rem;
  margin-top: .9rem;
}
.sidebar-product-item .salmon-name{
  font-size: 11.5px;
}
.tag-btn {
  color: var(--main-color);
  padding: 1px 3px;
  margin-right: 3px;
  margin-bottom: 8px;
  border: solid 1px var(--main-color);
  background-color: #fffdfd;
}

.product-filter-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: flex-start;
}

#filter-btn {
  color: var(--main-color);
  padding: 2px 20px;
  margin-right: 3px;
  margin-bottom: 8px;
  border: solid 1px var(--main-color);
  background-color: #fffdfd;
  max-width: fit-content;
}





.shop-products {
  /* border: #cc2e7d solid 3px; */
  position: relative;
  grid-area: products;
  width: 100%;
  /* make sure container fills parent */
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.shop-products h3 {
  font-family: var(--font-family-secondary);
  font-size: 2.5rem;
  font-weight: 550;

}


.shop-item-sort {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.shop-item-sort #sort-select {
  padding: .7rem;
  width: 12rem;
  font-weight: 600;
  border: none;
  color: var(--colorFont);
  box-shadow: 0px 0px 10px rgba(63, 63, 63, 0.123);
  border-radius: 5px;
  
}


/* swiper css */

.myProductSwiper .product .swiper-product-holder {
  width: 280px;
  height: 210px;
  position: relative;
}

.myProductSwiper .product .swiper-product-holder span {
  background-color: var(--main-color);
  z-index: 10;
  position: absolute;
  color: white;
  letter-spacing: 2px;
  font-size: .7rem;
  padding: 4px 10px;
  border-radius: 5px;
  font-family: var(--font-family);
  top: 10px;
  left: 10px;
}

.myProductSwiper .product .swiper-product-holder img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.product-content-holder {
  padding: 1rem 1rem;

}

.product-content-holder .product-item-name {
  text-decoration: none;
  color: var(--colorFont);
}


.product-content-holder h4 {
  font-family: var(--font-family-secondary);
  /* font-weight: 700; */
}

.product-content-holder .large-text {
  font-size: 1.4rem;
}

/*  */

.product-content-holder .separator {
  border-top: 2px dotted #00000033;
  margin: 1.5rem 0;

}

.casserole-item-separator {
  border-top: 2px dotted #00000033;
  margin: 2.7rem 0 1.5rem 0;
}

.product-price-holder {
  display: flex;
  justify-content: space-between;
}

.price-section p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--colorFont);
}

.price-section #price-offer {
  color: var(--secondary-color);
  font-size: 1rem;

}

.price-section span {
  color: var(--secondary-color);
}

.product-price-holder .product-icon-holder {
  background-color: var(--main-color);
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-price-holder i {
  color: white;

}

.myProductSwiper .product {
  background-color: var(--menu-item-color);
  width: 280px;
  /* fixed product width */
  flex-shrink: 0;
  justify-self: center;

}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* 3 columns, flexible */
  /* grid-template-rows: repeat(2, auto);               */
  gap: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}


.nav-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
  transition: all ease 0.3s;

}


#page-indicator {
  padding: 1rem 1.2rem;
  transition: all ease 0.3s;
  cursor: default;
  color: #fff;
  background-color: var(--main-color);
  /* border-radius: 5px; */
  /* position: fixed; */

  
}
/* .page-indicator */
.swiper-prev i,
.swiper-next i {
  padding: 1.3rem 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--colorfont);
  background-color: #fff;
  /* border-radius: 5px; */
  transition: all ease 0.3s;
}

.swiper-prev i:hover,
.swiper-next i:hover {
  color: #fff;
  background-color: var(--main-color);
}


.hidden {
  display: none !important;
}

.shop-products {
  overflow-x: hidden; /* hides horizontal scroll */
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: nowrap; /* horizontal scrolling handled by Swiper */
}

.swiper-slide {
  width: auto; /* let Swiper control the width */
}

@media (max-width: 1055px) and (min-width:992px) {


  /* start shop page */


  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* 3 columns, flexible */
    gap: 30px;
  }

  .shop-item-sort p {

    padding-top: .7rem;
  }


  /* end shop page */

}

@media(max-width:992px) {

  /* start shop page */
  .shop-content-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "products"
      "categories";
  }

  .shop-hero .main-text p {
    font-size: 10px;

  }

  .shop-products {
    margin-bottom: 2rem;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* 3 columns, flexible */
    gap: 20px;
  }

  .shop-item-sort p {
    font-size: .7rem;
    padding-top: .7rem;
  }


  /* end shop page */

/* start  */





}


@media(max-width:991px) {

.shop-hero .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 4.4rem;

}

}

@media (min-width: 768px) and (max-width: 912px) {

  /* start shop page */


  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* 3 columns, flexible */
    gap: 30px;
  }

  .shop-hero .main-text p {
    font-size: 16px;
  }

  /* end shop page */
}
.product-item-name #product-salmon-name,#paella-large-name{
  font-size: 20.8px;
}
#product-large-name{
  font-size: 20.8px;
}
#product-very-large-name{
font-size: 19px;
font-weight: 590;
}
#product-very-very-large-name{
  font-size: 17.6px;
font-weight: 599;
}