@media(max-width:361px) {
  .working-hours-row {
    justify-content: center;

    align-items: center;
    align-content: center;
  }

  .working-hours-time {
    width: 20.06rem;
  }
}
@media(max-width:992px) {
  .working-hours-content {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 15px;
  }

  .working-hours-content h6 {
    padding: 0;
  }

  .working-hours-content h6::before {
    left: 34.5%;
    top: -1.2rem;
    width: 32px;
  }

  .working-hours-content h1 {
    font-size: 2.5rem;
  }

  .working-hours-content .working-hours-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
    letter-spacing: 1px;

  }

  .working-hours-content .working-hours-btn-wrapper .booking-table-btn {

    padding: 17px 55px;
  }

  .working-hours-time {
    width: 22.06rem;
  }

  .working-hours-row {
    justify-content: center;
    margin: 0;

  }
}
@media(min-width:992px)and (max-width: 1280px) {
  .working-hours-time {
    width: 19rem;

  }

  .working-hours-row {
    justify-content: center;
    margin-right: 0;
  }
}