.working-hours {
  padding: 150px 0;
  position: relative;
  z-index: 1;
}
.working-hours img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.working-hours-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(180deg, rgba(6, 34, 39, 0.514) 20%, rgba(6, 34, 39, 0.514) 20%);
}
.working-hours-row {
  justify-content: space-between;
}
.working-hours-content {
  padding: 70px 60px;
  color: var(--text-color);
  position: relative;
  font-family: var(--font-family-secondary);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.working-hours-content h1 {
  font-size: 55px;
  letter-spacing: 2px;
}

.working-hours-content h6 {
  font-size: 13px;
  letter-spacing: 2px;
  padding-left: 43px;
  font-weight: 600;
  position: relative;
}

.working-hours-content h6::before {
  content: "";
  position: absolute;
  width: 30px;
  border-radius: 5px;
  height: 4px;
  background-color: var(--main-color);
  top: 3px;
  left: 4px;
}

.working-hours-content p {
  font-size: 19px;

}

.working-hours-content .working-hours-btn-wrapper {
  display: flex;
  gap: 25px;
  margin-top: 15px;

}

.working-hours-content .working-hours-btn-wrapper a {
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--font-family-secondary);


}

.working-hours-content .working-hours-btn-wrapper .booking-table-btn {
  background-color: var(--main-color);
  padding: 17px 35px;
  transition: all ease 0.4s;

}

.working-hours-content .working-hours-btn-wrapper .booking-table-btn:hover {
  transform: scale(1.02);
  background-color: #fd7836
}

.working-hours-content .working-hours-btn-wrapper .contact-us-btn {
  margin-top: 17px;
}

.working-hours-time {
  background-color: var(--text-color);
  height: 24.69rem;
  width: 24.06rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 10px;
  font-family: var(--font-family-secondary);
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;


}

.working-hours-time h6 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;

}

.working-hours-time ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 25px;
  font-weight: 500;
  padding-left: 10px;
}

.working-hours-time span {
  color: var(--main-color);
}

.working-hours-time li {
  list-style: none;
}