.background-image .background {
  background-image: url(../../../../assets/images/background-image.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.background-image {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.background-image .background .overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 43%);
}

.background-image .background .background-text {
  color: white;
  word-spacing: 2px;
  letter-spacing: 1px;
}


.background-image .background .background-text .welcoming h6 {
  font-size: 12px;
  font-weight: 700;
  position: relative;
}

.background-image .background .background-text .welcoming h6::before {
  content: "";
  width: 33px;
  height: 2.8px;
  position: absolute;
  border-radius: 5px;
  background-color: var(--main-color);
  top: -20px;
  left: 47.6%;
}

.background-image .background .background-text button a {
  text-decoration: none;
  color: #dddddd;
  background-color: transparent;
}

.background-image .background .background-text .book-a-table-button {
  background-color: transparent;
  text-decoration: none;
  padding: 15px 35px;
  font-size: 16px;
  margin-top: 14px;
  border: 2px solid #dddddd;
  color: #dddddd;
  transition: all 0.5s ease;
}

.background-image .background .background-text .book-a-table-button:hover {
  transform: scale(1.02);
}

.background-image .background .background-text .open-menu-button {
  background-color: transparent;
  text-decoration: none;
  padding: 11px;
  margin-top: 14px;
  border: none;
  font-size: 16px;
  color: #dddddd;
  transition: all 0.5s ease;
}

.background-image .background .background-text .open-menu-button:hover {
  transform: scale(1.02);
}

.background-image .background .background-text h2 {
  font-size: 100px;
  font-weight: 500;
  color: #dddddd;
  font-family: var(--font-family-secondary);
}