.about-hero {
   
  height: 21.9rem;
}

.about-hero .bgImg {
  position: absolute;
  /* z-index: -2; */
  width: 100%;
  height: 23rem;
  object-fit: cover;
  top: 0;
  left: 0;
}

.about-hero .shop-overlay {

  top: 0;
  left: 0;
  position: absolute;
  height: 23rem;
  width: 100%;
  /* z-index: -1; */
  background-image: linear-gradient(90deg, rgba(6, 34, 39, 0.849) 10%, rgba(6, 34, 39, 0.0) 100%);

}

.about-hero .main-text {
  /* z-index: 2; */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  color: #E5EBEF;
  margin: 4rem 0;
}

.about-hero .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 6.4rem;
  z-index: 2;
  margin-top: 4rem;

}

.about-hero .main-text p {
  font-family: var(--font-family);
  color: #dddddd;
  font-weight: 500;
  text-align: center;
  line-height: -4px;
  z-index: 2;
}

/* start about us */


.about-us-main-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-family-secondary);
}

.about-us-main-text h5{
    font-family: var(--font-family);
    position: relative;
}
.about-us-main-text h5::before{
    position: absolute;
    content: "";
      width: 37px;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 5px;
    top: -14px;
        right: 48.3%;
}

.about-us-main-text h2{
  font-size: 3.5rem;

}

.about-us-main-text p{
  color: var(--secondary-color);
  font-size: 16px;
}

.about-icon-wrapper{
  margin: 5rem 0;
  text-align: center;
}
.about-icon-wrapper .row{
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.about-icon {
  flex: 0 0 7rem;
}


.about-icon img{
  opacity: 0.2;
      width: 5rem;
    height: 5rem;
    transition: all ease 0.3s;
}
.about-icon h6{
  color: #869193d2;
   transition: all ease 0.3s;
}

.about-icon:hover img,.about-icon:hover h6{
  opacity: 1;
  color: var(--colorFont);
}


.about-video {
  position: relative;
  width: 100%;
}
.about-video .image-box{
  position: relative;
   width: 100%;
  height: 90vh;
  overflow: hidden;
 
}

.about-video .image-box img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  /* z-index: -1; */
}

 .about-video .image-box  .about-image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( rgba(6, 34, 39, 0.534) );
  object-fit:cover;
  z-index: 2;

}
 .about-video .image-box  .play-youtube-btn{
   position: absolute;
  background-color: var(--main-color);
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  cursor: pointer;
  padding: 1rem 1.4rem;
  transition: all ease 0.5s;

}

 .about-video .image-box  .play-youtube-btn:hover{
  transform: translate(-50%, -50%) scale(1.1);
 }



/* end about us */

/* start team */
.team{
  margin: 100px auto; 
}

.team .col-lg-4{
  padding: 20px;
}
.team .team-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.team .team-title::after {
  position: absolute;
  content: '';
  width: 26px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--main-color);
  top: 0;
}

.team .team-title p:first-child {
  font-family: var(--font-family);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  color: var(--colorFont);
  margin: 10px 0;
  margin-top: 20px;
}

.team .team-title p:last-child {
  font-family: var(--font-family);
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
  margin: 10px 0;
}

.team .team-title h1 {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  font-style: normal;
  color: var(--colorFont);
}
.team .image-container{
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin: 0 !important;
}
.team .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color:var(--menu-item-color);
  padding-bottom: 10px;
}
.team .content .image-container img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top; 
  transition: all 0.5s ease-in-out;
}
.team .content .image-container img:hover{
  transform: scale(1.1);
}
.team .content h4{
  font-family: var(--font-family-secondary);
  color: var(--colorFont);
  font-size: 1.7rem;
  margin: 0;
  margin-top: 10px;
}
.team .content>p{
  font-family: var(--font-family);
  color: var(--secondary-color);
}
.team .content>div{
  margin: 20px 0;
  display: flex;
  gap: 10px;
}
.team .content>div a i{
  color: var(--colorFont);
  transition: all 0.5s ease;
}
.team .content>div a:hover i{
  color: var(--main-color);
}



@media (min-width: 576px) {
    .team{
        max-width: 540px;
    }
  }
@media (min-width: 768px) {
    .team{
        max-width: 920px;
    }
}
  @media (min-width: 992px) {
    .team{
        max-width: 990px;
    }
}
  @media (min-width: 1200px) {
    .team {
        max-width: 1340px;
    }
}
/* end team */

/* start skills */
.skills{
  background-color: #F3F2F0;
  margin-top: 2rem;
  padding: 2rem 0 3rem 0;
}
.skills-main-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: var(--font-family-secondary);
  margin: 4rem 0;
}

.skills-main-text h5{
    font-family: var(--font-family-secondary);
    position: relative;
    font-size: 0.67rem;
    font-weight: 700;
    letter-spacing:1px;
}
.skills-main-text h5::before{
    position: absolute;
    content: "";
      width: 37px;
    height: 3px;
    background-color: var(--main-color);
    border-radius: 5px;
    top: -14px;
        right: 48.3%;
}

.skills-main-text h2{
  font-size: 3.5rem;

}

.skills-main-text p{
  color: var(--secondary-color);
  font-size: 16px;
}
.skills-item h6{
  letter-spacing: .6px;
  font-weight: 600;

}
.skills-item{
  position: relative;
}


.skills-item  .precentge{
  border-top: 4px dotted #00000033;
  margin: 2.3rem 0;
  position: relative;
}

.skills-item .precentge::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 90%;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
}

.skills-item  .precentge-80{
  border-top: 4px dotted #00000033;
  margin: 2.3rem 0;
  position: relative;
}

.skills-item .precentge-80::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 80%;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
}

.skills-item  .precentge-75{
  border-top: 4px dotted #00000033;
  margin: 2.3rem 0;
  position: relative;
}

.skills-item .precentge-75::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 75%;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
}

.skills-item  .precentge-85{
  border-top: 4px dotted #00000033;
  margin: 2.3rem 0;
  position: relative;
}

.skills-item .precentge-85::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 85%;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
}

.skills-item  .precentge-95{
  border-top: 4px dotted #00000033;
  margin: 2.3rem 0;
  position: relative;
}

.skills-item .precentge-95::before {
  position: absolute;
  content: "";
  top: -7px;
  left: 0;
  width: 95%;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 5px;
}
.skill-item-main-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skills-wrapper .row{
  row-gap: 0.3rem;
}

/* end skills */
/* start blog */

.about-us{
      margin-top: 8rem;
    background-color: white;
}
/* @media (max-width:400px){
.about-hero .main-text h1 {
  
  font-size: 3.4rem ;
  margin-top:2rem ;
 

}
} */

@media (max-width:540px){
.about-hero .main-text h1 {
  
  font-size: 3.4rem ;
  margin-top:4rem ;
 

}
}