.background-image .background {
  position: relative;
  width: 100%;
  height: 28rem; 
  background-size: cover;
  background-position: center;
  
}


#our-history,
#our-history.background-image,
#our-history .background {
  min-height: 0 !important;
}

.background-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; 
  width: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(6, 34, 39, 0.849) 10%,
    rgba(6, 34, 39, 0) 100%
  );
}

.background-image .container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image .background-text {
  color: #e5ebef;
  text-align: center;
}

.background-image .background-text h2 {
  font-family: var(--font-family-secondary);
  font-size: 5.4rem;
  margin: 0;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .background-image .background-text h2 {
    font-size: 4.6rem;
  }
}



/* ====================== TIMELINE ====================== */
.tst-timeline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-top: 0;
}


.background-image,
.background-image .background,
.background-image .overlay {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.tst-timeline {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.tst-timeline.container {
  padding-top: 0 !important;
}

.tst-timeline .tst-timeline-item:first-child {
  margin-top: 0 !important;
}

.tst-timeline:after {
  content: '';
  border-radius: 3px;
  position: absolute;
  left: 50%;
  margin-left: -2px;
  height: 100%;
  width: 4px;
 background-color: #f76e2a;
}

.tst-timeline .tst-timeline-item {
  width: 50%;
  padding-right: 60px;
  text-align: right;
}

.tst-timeline .tst-timeline-item .tst-tl-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.tst-timeline .tst-timeline-item .tst-tl-content .tst-ilust {
  position: relative;
  width: 20%;
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.tst-timeline .tst-timeline-item .tst-tl-content .tst-ilust img {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-box-shadow: 0 5px 10px 0 rgba(26,47,51,.11);
  box-shadow: 0 5px 10px 0 rgba(26,47,51,.11);
}

.tst-timeline .tst-timeline-item .tst-tl-content .tst-tl-text-frame {
  width: 80%;
  padding-right: 30px;
}


.tst-timeline .tst-timeline-item .tst-year:before {
  content: '';
  position: absolute;
  z-index: 1;
  right: -60px;
  top: 9px;
  height: 4px;
  width: 50px;
  border-radius: 3px;
 background-color: #f76e2a;
}

.tst-timeline .tst-timeline-item .tst-year:after {
  content: '';
  position: absolute;
  z-index: 2;
  right: -70px;
  top: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px #fcfcfc;
  box-shadow: 0 0 0 4px #fcfcfc;
  border: solid 4px #f76e2a;
  background-color: #fcfcfc;
}

.tst-timeline .tst-timeline-item:nth-child(2n) {
  margin-top: 60px;
  text-align: left;
  padding-left: 60px;
  padding-right: 0;
}

.tst-timeline .tst-timeline-item:nth-child(2n) .tst-tl-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.tst-timeline .tst-timeline-item:nth-child(2n) .tst-tl-content .tst-tl-text-frame {
  padding-right: 0;
  padding-left: 30px;
}

.tst-timeline .tst-timeline-item:nth-child(2n) .tst-year:before {
  right: auto;
  left: -60px;
}

.tst-timeline .tst-timeline-item:nth-child(2n) .tst-year:after {
  right: auto;
  left: -70px;
}

.tst-timeline .tst-timeline-item:hover .tst-tl-content .tst-ilust {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

@media (max-width: 790px) {
  .tst-timeline:after {
    left:0;
  }

  .tst-timeline .tst-timeline-item {
    padding: 0 0 0 30px;
    width: 100%;
    text-align: left;
  }

  .tst-timeline .tst-timeline-item .tst-tl-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .tst-timeline .tst-timeline-item .tst-tl-content .tst-tl-text-frame {
    padding: 0 0 0 30px;
  }

  .tst-timeline .tst-timeline-item .tst-year:before {
    display: none;
  }

  .tst-timeline .tst-timeline-item .tst-year:after {
    right: auto;
    left: -40px;
  }

  .tst-timeline .tst-timeline-item:nth-child(2n) {
    margin-top: 0;
    text-align: left;
    padding: 0 0 0 30px;
  }

  .tst-timeline .tst-timeline-item:nth-child(2n) .tst-tl-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .tst-timeline .tst-timeline-item:nth-child(2n) .tst-tl-content .tst-tl-text-frame {
    padding: 0 0 0 30px;
  }

  .tst-timeline .tst-timeline-item:nth-child(2n) .tst-year {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
  }

  .tst-timeline .tst-timeline-item:nth-child(2n) .tst-year:after {
    right: auto;
    left: -40px;
  }
}

/* ====================== title ====================== */
.tst-suptitle {
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding-left: 45px;
    font-family: 'Roboto';
}
.tst-suptitle.tst-suptitle-center::before {
  top: 0;
  left: 50%;
  margin-left: -15px;
}


.tst-mb-15 {
  margin-bottom: 15px;
}

.tst-p-60-0 {
  padding-top: 60px;
   

}

.tst-suptitle.tst-suptitle-center {
  text-align: center;
  padding-left: 0;
  padding-top: 20px;
}

.body>div.text-center>h3 {
  font-weight: 400;
  font-size: 52px;
}
.tst-text {
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Roboto';
  text-align: center;
  margin: 0 auto;
  font-weight: 400;
}

.tst-mb-60 {
  margin-bottom: 60px;
}
.tst-title--h {
 font-size: 52px;
 font-weight: 400;
  text-align: center;
 font-family: 'Belleza'; 
  color: #333;
  margin-bottom: 30px;
}


.tst-timeline .tst-timeline-item {
    width: 50%;
    padding-right: 60px;
    text-align: right;
}
.tst-timeline .tst-timeline-item .tst-year:before {
    content: '';
    position: absolute;
    z-index: 1;
    right: -60px;
    top: 9px;
    height: 4px;
    width: 50px;
    border-radius: 3px;
    background-color: #f76e2a;
}

.tst-timeline .tst-timeline-item {
    width: 50%;
    padding-right: 60px;
    text-align: right;
}
.tst-timeline .tst-timeline-item .tst-year {
    position: relative;
    font-size: 18px;
    font-weight: 500;}

.tst-timeline:after {
    content: '';
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    width: 4px;
 background-color: #f76e2a;
}




.tst-timeline .tst-timeline-item:nth-child(2n) {
    margin-top: 60px;
    text-align: left;
    padding-left: 60px;
    padding-right: 0;
}
.tst-mb-30 {
    margin-bottom: 30px;
}


#main-header {
  position: fixed  ;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; 
  background: transparent; 
}

/* ======= Responsive Breakpoints ======= */
@media (max-width: 1200px) {
  .background-image .background .background-text h2 {
    font-size: 70px;
  }
  .subscribe .container h1 {
    font-size: 50px;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  header {
    padding: 10px 20px;
  }

  .navbar .nav-item .nav-link {
    font-size: 14px;
  }

  .background-image {
    height: 22rem;
  }

  .background-image .background .background-text h2 {
    font-size: 50px;
  }

  .subscribe .container h1 {
    font-size: 40px;
    padding-right: 0;
  }

  .tst-title--h {
    font-size: 36px;
  }

  .tst-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #fff;
  }

  .nav-links .navbar-nav .nav-item {
    text-align: center;
    margin: 10px 0;
  }

  .background-image {
    height: 18rem;
  }

  .background-image .background .background-text h2 {
    font-size: 36px;
  }

  .subscribe .container h1 {
    font-size: 30px;
  }

  .tst-timeline {
    flex-direction: column;
    padding-left: 20px;
  }

  .tst-timeline .tst-timeline-item,
  .tst-timeline .tst-timeline-item:nth-child(2n) {
    width: 100%;
    padding: 0 0 0 20px;
    margin-top: 40px;
    text-align: left;
  }

  .tst-timeline:after {
    left: 10px;
  }

  .tst-timeline .tst-timeline-item .tst-year:before {
    display: none;
  }

  .tst-timeline .tst-timeline-item .tst-year:after {
    left: -30px;
  }
}

@media (max-width: 576px) {
  .background-image {
    height: 15rem;
  }

  .background-image .background .background-text h2 {
    font-size: 28px;
  }

  .subscribe .container h1 {
    font-size: 24px;
  }

  .subscribe .container .col>div #email {
    padding: 15px 20px;
  }

  .subscribe .container .col>div .btn {
    padding: 0 20px;
    font-size: 12px;
  }

  .tst-title--h {
    font-size: 28px;
  }

  .tst-text {
    font-size: 13px;
  }

  footer .container .row {
    flex-direction: column;
    gap: 30px;
  }

  .gallery-item {
    width: 4.5rem !important;
    height: 4.5rem !important;
  }
}
