/* start reservation */
.reservation {
  position: relative;
  background-image: url(../../../assets/images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 60px;
  margin-top: 121px;
}

.reservation .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(4, 25, 29, .7) 0%, rgba(4, 25, 29, .7) 20%);
  top: 0;
  z-index: 1;
}

.reservation .container {
  position: relative;
  z-index: 2;
}

.reservation .container .col-lg-6:last-child img {
  width: 100%;
  height: 100%;
}

.reservation .container .content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.reservation .container .content span:first-child {
  position: relative;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
  left: 50px;
  width: 0;
}

.reservation .container .content span:first-child::after {
  position: absolute;
  content: '';
  background-color: var(--main-color);
  width: 30px;
  height: 4px;
  border-radius: 3px;
  top: 3px;
  left: -50px;
}

.reservation .container .content span:nth-child(2) h1 {
  font-family: var(--font-family-secondary);
  font-size: 3.9rem;
  color: white;
  padding-right: 70px;
}

.reservation .container .content span:nth-child(3) {
  font-family: var(--font-family);
  font-size: 1rem;
  color: white;
  padding-right: 310px;
  line-height: 27px;
}

.reservation .container .content .row .col-lg-6:first-child .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.reservation .container .content .row .col-lg-6:first-child button {
  background-color: var(--main-color);
  padding: 20px;
  outline: none;
  border-style: none;
  color: white;
  text-decoration: none;
  font-family: var(--third-font-family);
  font-size: 0.9rem;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.reservation .container .content .row .col-lg-6:first-child button:hover {
  transform: scale(1.02);
}

.reservation .container .content .row .col-lg-6:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation .container .content .row .col-lg-6:last-child a {
  color: white;
  text-decoration: none;
  font-family: var(--third-font-family);
  font-size: 0.9rem;
  letter-spacing: 2px;
}

#reservation-window {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999999999999999999999999999999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1a2f33a6;
}

#reservation-window .content {
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--colorFont);
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 55%; 
  max-height: 90%;
  position: relative;
}
#reservation-window .content .ele input{
  outline: none;
  border-style: none;
  padding: 17px 15px ;
  margin: 20px 0 40px 0;
  box-shadow:0px 5px 9px -3px #dcd4d4;
}
#reservation-window .content .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
#reservation-window .content .ele-e input{
  outline: none;
  border-style: none;
  padding: 17px 15px;
  box-shadow:0px 5px 9px -3px #dcd4d4;
}
#reservation-window .content .ele .nice-select{
  outline: none;
  border-style: none;
  box-shadow:0px 5px 9px -3px #dcd4d4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0 !important;
}
#reservation-window .content .ele .nice-select span{
  font-family: var(--font-family);
  color: rgb(117 117 117);
  font-size: 1rem;
}
#reservation-window .title span {
  font-family: var(--font-family-secondary);
  color: var(--colorFont);
  font-size: 2.4rem;
}

#reservation-window .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  position: relative;
  padding: 10px 0 50px 0;
}

#reservation-window .title::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  height: 4px;
  border-radius: 2px;
  width: 30px;
  top: 0;
}
#reservation-window .container input{
  width: 100%;
}
#reservation-window .content .ele .nice-select .list {
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  color: var(--colorFont);
  font-family: var(--font-family);
  font-size: 1rem;
  letter-spacing:1px;
}
#reservation-window .content .ele textarea{
  width: 100%;
  height: 150px;
  margin: 40px 0;
  outline: none;
  border-style: none;
  padding: 17px 15px ;
  box-shadow:0px 5px 9px -3px #dcd4d4;
}
#reservation-window .content .ele .nice-select .list::-webkit-scrollbar {
  width: 6px;
}

#reservation-window .content .ele .nice-select .list::-webkit-scrollbar-track {
  background: white;
}

#reservation-window .content .ele .nice-select .list::-webkit-scrollbar-thumb {
  background-color:var(--main-color); 
}

#reservation-window .content .ele .nice-select .list::-webkit-scrollbar-thumb:hover {
  background-color:var(--main-color); 
}

/* Firefox */
#reservation-window .content .ele .nice-select .list {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}
#reservation-window .content button{
  outline: none;
  border-style: none;
  background-color: var(--main-color);
  padding: 20px;
  color: white;
  text-decoration: none;
  font-family: var(--third-font-family);
  font-size: 0.9rem;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}
#reservation-window .content button:hover{
  transform: scale(1.02);
}

/* end reservation */


@media(max-width:542px) {
  .hero-section .main-text h1 {
    font-size: 4.4rem;
    text-align: center;
  }
}

@media(max-width:500px) {
  .menu-1 .swiper-wrapper .swiper-slide .row .content {
    align-items: stretch;
  }

  .menu-extra .swiper-wrapper .swiper-slide .row .content {
    align-items: stretch;
  }

  .menu-1 .swiper-wrapper .swiper-slide .row .content>a img {
    height: 100%;
  }

  .menu-extra .swiper-wrapper .swiper-slide .row .content>a img {
    height: 100%;
  }

  .menu-1 .swiper-wrapper .swiper-slide .row .content .t1 {
    padding: 20px 0;
  }

  .menu-1 .swiper-wrapper .swiper-slide .row .content .t2 {
    padding: 20px 30px 20px 0;
  }

  .menu-extra .swiper-wrapper .swiper-slide .row .content .t1 {
    padding: 20px 0;
  }

  .menu-extra .swiper-wrapper .swiper-slide .row .content .t2 {
    padding: 20px 30px 20px 0;
  }
}

@media(max-width:390px) {
  .menu-1 .swiper-wrapper .swiper-slide .row .content .t1 span {
    font-size: 0.6rem !important;
  }

  .menu-1 .swiper-wrapper .swiper-slide .row .content {
    gap: 13px;
  }

  .menu-extra .swiper-wrapper .swiper-slide .row .content .t1 span {
    font-size: 0.6rem !important;
  }

  .menu-extra .swiper-wrapper .swiper-slide .row .content {
    gap: 13px;
  }
}

@media(max-width:472px) {
  .menu-1 .swiper-wrapper .swiper-slide .row .content .t1 span {
    font-size: 0.7rem;
  }

  .menu-extra .swiper-wrapper .swiper-slide .row .content .t1 span {
    font-size: 0.65rem;
  }

  .menu-2 .swiper-2 .slider {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .menu-2 .swiper-2 .slider a {
    width: fit-content;
    padding: 18px 39px;
  }
}

@media(max-width:504px) {
  .menu-1 .swiper-wrapper .swiper-slide .row .content .t1 a {
    font-size: 1.18rem;
    font-weight: 800;
  }

  .menu-extra .swiper-wrapper .swiper-slide .row .content .t1 a {
    font-size: 1.18rem;
    font-weight: 800;
  }
}

@media(max-width:767px) {
  #reservation-window .content .ele input {
    margin: 20px 0;
  }

  #reservation-window .content .ele-e input {
    margin: 20px 0;
  }

  #reservation-window .content .ele .nice-select {
    height: auto;
  }
}

@media(max-width:768px) {
  .menu-1 .swiper-pagination {
    flex-direction: column;
  }

  .menu-extra .swiper-pagination {
    flex-direction: column;
  }
}

@media(max-width:991px) {
  .reservation .container .content .row .col-lg-6:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reservation .container .content span:first-child {
    left: 0px;
    text-align: center;
    width: 100%;
  }

  .reservation .container .content span:first-child::after {
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .reservation .container .content span:nth-child(2) h1 {
    text-align: center;
  }

  .reservation .container .content span:nth-child(3) {
    text-align: center;
  }

  .reservation .container .content {
    align-items: center;
  }

  .reservation .container .content .row {
    gap: 40px;
  }

  .reservation .container .content .row .col-lg-6:first-child .content {
    padding: 20px 0px;
  }

  #reservation-window .content {
    max-width: 90% !important;
  }

  .working-hours-content {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 15px;
  }

  .working-hours-content h6 {
    padding: 0;
  }

  .working-hours-content h6::before {
    left: 34.5%;
    top: -1.2rem;
    width: 32px;
  }

  .working-hours-content h1 {
    font-size: 2.5rem;
  }

  .working-hours-content .working-hours-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
    letter-spacing: 1px;

  }

  .working-hours-content .working-hours-btn-wrapper .booking-table-btn {

    padding: 17px 55px;
  }

  .working-hours-time {
    width: 22.06rem;
  }

  .working-hours-row {
    justify-content: center;
    margin: 0;

  }
}

@media(max-width:1072px) {
  .reservation .container .content {
    padding-bottom: 100px;
    padding-top: 100px;
  }

}

@media(max-width:1200px) {

  .reservation .container .content span:nth-child(2) h1,
  .reservation .container .content span:nth-child(3) {
    padding-right: 0;
  }
}

@media(min-width:992px)and (max-width: 1280px) {
  .working-hours-time {
    width: 19rem;

  }

  .working-hours-row {
    justify-content: center;
    margin-right: 0;
  }
}