@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

:root {
  --main-color: #f76e2a;
  --colorFont: rgb(26, 47, 51);
  --secondary-color: #869193;
  --font-family: "Roboto", sans-serif;
  --font-family-secondary: "Belleza", sans-serif;
  --third-font-family: "Cinzel", sans-serif;
  --text-color: #F3F2F0;
  --cinzel-font: 'Cinzel', serif;
  --menu-item-color: #F3F2F0;
}

.container {
  max-width: 1240px;
}

p {
  margin-bottom: 0;
}


* {
  scrollbar-width: thin;
  /* auto | thin | none */
  scrollbar-color: var(--main-color) var(--colorFont);
  /* thumb color | track color */
}


/* ====================== start of the header ==================================== */
.navbar {
  z-index: 1000;
}

header {
  min-height: 80px;
  background-color: transparent;
  padding-top: 4px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000000;
  transition: all ease 0.4s;
}

/* When scrolled */
header.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header.scrolled .nav-link,
header.scrolled .logo h4,
header.scrolled .logo h6,
header.scrolled .icon-shopping i {
  color: var(--colorFont) !important;
}

header.scrolled .navbar-toggler-icon {
  filter: invert(0);
}

header.scrolled .navbar-toggler{
  border-color: grey !important;
}

header .nav-link,
header .logo h4,
header .logo h6,
header .icon-shopping i {
  color: #ffffff !important;
}

.nav-links .home i {
  color: var(--main-color);
}

.nav-links .navbar-nav .nav-item {
  position: relative;
}

.nav-links .navbar-nav .nav-item .shop-link::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px 2px 0 0;
  ;
  position: absolute;
  background-color: var(--main-color);
  top: 138%;
  left: 0;
  animation: active 0.3s 1 linear;
}

@keyframes active {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

.navbar .nav-item .nav-link {
  font-size: 16px;
  font-weight: 550;
  text-transform: none;
  letter-spacing: 0px;
  font-family: var(--font-family);
}

.dropdown-menu {
  background-color: var(--main-color);
  border-radius: 0px;
  transition: all 0.7 ease-in-out;
  min-width: 123px;
}

.dropdown-item {
  color: white;
  padding: 8px 16px;
}

.dropdown-item:hover {
  background-color: var(--main-color);
  color: #ffdcca;
}

.header-right-side {
  gap: 37px;
}

.header-right-side button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 16px 27px;
  letter-spacing: 1px;
  font-size: 14px;
  transition: all 0.6s ease-in-out;
}

.header-right-side button:hover {
  transform: scale(1.03);
}

.icon-shopping i {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.icon-shopping i:hover {
  transform: scale(1.06);
  color: #dddddd;
}

#cart-count {
  background-color: #2ecc71;
  padding-right: 7px;
  padding-left: 7px;
}

.navbar-toggler {
  border-color: #fff;
  padding: 4px 13px !important;
}

.navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);
  filter: invert(1);
  font-size: 16px;
}

/* ====================== end of the header ==================================== */

.shop-hero {
   
  height: 21.9rem;
}

.shop-hero .bgImg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 23rem;
  object-fit: cover;
  top: 0;
  left: 0;
}

.shop-hero .shop-overlay {

  top: 0;
  left: 0;
  position: absolute;
  height: 23rem;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(90deg, rgba(6, 34, 39, 0.849) 10%, rgba(6, 34, 39, 0.0) 100%);

}

.shop-hero .main-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  color: #E5EBEF;
  margin: 4rem 0;
}

.shop-hero .main-text h5 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: .8rem;
  letter-spacing: 1.5px;
  position: relative;
}

.shop-hero .main-text h5::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.27rem;
  bottom: 36px;
  left: 38px;
  background-color: var(--main-color);
  border-radius: 1rem;

}

.shop-hero .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 6.4rem;
  letter-spacing: 10px;
}

.shop-hero .main-text p {
  font-family: var(--font-family);
  color: #dddddd;
  font-weight: 500;
  text-align: center;
  line-height: -4px;
}
/* end hero */

/* start faq */
.faq .faq-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq .faq-title::after {
  position: absolute;
  content: '';
  width: 26px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--main-color);
  top: 0;
}

.faq .faq-title p:first-child {
  font-family: var(--font-family);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  color: var(--colorFont);
  margin: 10px 0;
  margin-top: 20px;
}

.faq .faq-title p:last-child {
  font-family: var(--font-family);
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
  margin: 10px 0;
}

.faq .faq-title h1 {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  font-style: normal;
  color: var(--colorFont);
}
.faq .container .col{
    margin: 30px 0 50px 0;
}
.faq .container .col .accordion-item{
    margin: 20px 0;
    border:rgb(190, 188, 188) dotted 2px;
    padding: 15px;
    transition: box-shadow 1s ease;
}
.faq .container .col .accordion-item .accordion-header .accordion-button{
      font-family: "Playfair Display", serif;
      font-weight: 900 ;
      color: var(--colorFont);
      font-size: 1.5rem;
}
.accordion-button:focus,
.accordion-button:focus-visible,
.accordion-button:active,
.accordion-button:not(.collapsed) {
  box-shadow: none;          
  border-color: transparent; 
  outline: none;   
  background-color: transparent;           
}

.faq .container .col .accordion-item:has(.accordion-button:not(.collapsed)) {
  box-shadow: 0 6px 12px rgb(0 0 0 / 9%); 
  border: none;                 
  background-color: transparent;          
}

.faq .container .col .accordion-body{
    font-family: var(--font-family);
    color: var(--colorFont);
}
/* edn faq */

/* start questions */
.question .question-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question .question-title::after {
  position: absolute;
  content: '';
  width: 26px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--main-color);
  top: 0;
}

.question .question-title p:first-child {
  font-family: var(--font-family);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  color: var(--colorFont);
  margin: 10px 0;
  margin-top: 20px;
}

.question .question-title p:last-child {
  font-family: var(--font-family);
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
  margin: 10px 0;
}

.question .question-title h1 {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  font-style: normal;
  color: var(--colorFont);
}
.question .container .row{
    margin: 50px 0;
}
.question .col-lg-6 input, .question .col-12 textarea{
    width: 100%;
    padding: 20px;
    margin: 15px 0;
    border: none;
    outline: none;
    box-shadow: 0 6px 12px rgb(0 0 0 / 9%); 
}
.question .col-12{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question .col-12 button{
   margin: 30px 0;
   padding:20px;
   outline: none;
   border: none;
   background-color: var(--main-color);
   color: white;
   font-family: var(--third-font-family);
   transition: all 0.5s ease-in-out;
}
.question .col-12 button:hover{
    transform: scale(1.02);
}
/* end questions */

/* start reservation */
.reservation {
  position: relative;
  background-image: url(../images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 60px;
}

.reservation .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(4, 25, 29, .7) 0%, rgba(4, 25, 29, .7) 20%);
  top: 0;
  z-index: 1;
}

.reservation .container {
  position: relative;
  z-index: 2;
}

.reservation .container .col-lg-6:last-child img {
  width: 100%;
  height: 100%;
}

.reservation .container .content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.reservation .container .content span:first-child {
  position: relative;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
  left: 50px;
  width: 0;
}

.reservation .container .content span:first-child::after {
  position: absolute;
  content: '';
  background-color: var(--main-color);
  width: 30px;
  height: 4px;
  border-radius: 3px;
  top: 3px;
  left: -50px;
}

.reservation .container .content span:nth-child(2) h1 {
  font-family: var(--font-family-secondary);
  font-size: 3.9rem;
  color: white;
  padding-right: 70px;
}

.reservation .container .content span:nth-child(3) {
  font-family: var(--font-family);
  font-size: 1rem;
  color: white;
  padding-right: 310px;
  line-height: 27px;
}

.reservation .container .content .row .col-lg-6:first-child .content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.reservation .container .content .row .col-lg-6:first-child button {
  background-color: var(--main-color);
  padding: 20px;
  outline: none;
  border-style: none;
  color: white;
  text-decoration: none;
  font-family: var(--third-font-family);
  font-size: 0.9rem;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}

.reservation .container .content .row .col-lg-6:first-child button:hover {
  transform: scale(1.02);
}

.reservation .container .content .row .col-lg-6:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation .container .content .row .col-lg-6:last-child a {
  color: white;
  text-decoration: none;
  font-family: var(--third-font-family);
  font-size: 0.9rem;
  letter-spacing: 2px;
}

#reservation-window {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999999999999999999999999999999999;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #1a2f33a6;
}

#reservation-window .content {
  background-color: white;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) var(--colorFont);
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 55%; 
  max-height: 90%;
  position: relative;
}
#reservation-window .content .ele input{
  outline: none;
  border-style: none;
  padding: 17px 15px ;
  margin: 20px 0 40px 0;
  box-shadow:0px 5px 9px -3px #dcd4d4;
}
#reservation-window .content .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
#reservation-window .content .ele-e input{
  outline: none;
  border-style: none;
  padding: 17px 15px;
  box-shadow:0px 5px 9px -3px #dcd4d4;
}
#reservation-window .content .ele .nice-select{
  outline: none;
  border-style: none;
  box-shadow:0px 5px 9px -3px #dcd4d4;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0 !important;
}
#reservation-window .content .ele .nice-select span{
  font-family: var(--font-family);
  color: rgb(117 117 117);
  font-size: 1rem;
}
#reservation-window .title span {
  font-family: var(--font-family-secondary);
  color: var(--colorFont);
  font-size: 2.4rem;
}

#reservation-window .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  position: relative;
  padding: 10px 0 50px 0;
}

#reservation-window .title::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  height: 4px;
  border-radius: 2px;
  width: 30px;
  top: 0;
}
#reservation-window .container input{
  width: 100%;
}
#reservation-window .content .ele .nice-select .list {
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  color: var(--colorFont);
  font-family: var(--font-family);
  font-size: 1rem;
  letter-spacing:1px;
}
#reservation-window .content .ele textarea{
  width: 100%;
  height: 150px;
  margin: 40px 0;
  outline: none;
  border-style: none;
  padding: 17px 15px ;
  box-shadow:0px 5px 9px -3px #dcd4d4;
}
#reservation-window .content .ele .nice-select .list::-webkit-scrollbar {
  width: 6px;
}

#reservation-window .content .ele .nice-select .list::-webkit-scrollbar-track {
  background: white;
}

#reservation-window .content .ele .nice-select .list::-webkit-scrollbar-thumb {
  background-color:var(--main-color); 
}

#reservation-window .content .ele .nice-select .list::-webkit-scrollbar-thumb:hover {
  background-color:var(--main-color); 
}

/* Firefox */
#reservation-window .content .ele .nice-select .list {
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) transparent;
}
#reservation-window .content button{
  outline: none;
  border-style: none;
  background-color: var(--main-color);
  padding: 20px;
  color: white;
  text-decoration: none;
  font-family: var(--third-font-family);
  font-size: 0.9rem;
  letter-spacing: 2px;
  transition: all 0.5s ease;
}
#reservation-window .content button:hover{
  transform: scale(1.02);
}

/* end reservation */

/* start blog */

/* ----------------- Blog Card ----------------- */

/* ----------------- Titles & Text ----------------- */
.tst-suptitle {
  font-family: "Roboto";
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  margin: 0;
}

.tst-suptitle:before {
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 4px;
  background-color: #f39c12;
}

.tst-suptitle.tst-suptitle-center {
  text-align: center;
  padding-top: 20px;
}

.tst-suptitle.tst-suptitle-center:before {
  top: 0;
  left: 50%;
  margin-left: -15px;
}


.tst-title--h {
  font-family: "Belleza";
  font-size: 52px;
  font-weight: 400;
  color: var(--colorFont);
  margin: 20px 0;
}

.tst-text {
  opacity: .7;
  margin: 0;
}


/* Blog button (All Publications) */
.tst-btn {
  display: inline-block;
  line-height: 48px;
  padding: 0 25px;
  border: 2px solid #f76e2a;
  background-color: #f76e2a;
  color: #fff;
  font-family: "Cinzel", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  white-space: nowrap;
  margin-right: 20px;
}

.tst-btn:hover {
  background-color: #e65d16;
  border-color: #e65d16;
  color: #fff;
}

.justify-content-between {
  margin: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.d-flex p {
  margin-bottom: 0;
  margin-right: 20px;
}

.blog-card {
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.category {
  background: #f76e2a;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.blog-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-text {
  color: #555;
  font-size: 15px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.author i {
  font-size: 24px;
  margin-right: 8px;
  color: gray;
}

.read-more {
  color: #f76e2a;
  font-weight: bold;
  font-size: 14px;
}

/* ----------------- Utilities ----------------- */
.footer {
  opacity: .7;
  margin: 0 0 30px 0;
  line-height: 1.7;
}

.tst-spacer {
  height: 0;
  margin: 60px 0;
  border-bottom: dotted 4px rgba(26, 47, 51, .7);
}

.tst-spacer-sm {
  height: 1px;
  margin: 15px 0;
  border-bottom: dotted 2px rgba(26, 47, 51, .7);
  opacity: .3;
}


.text-center.app-txt-center {
  margin: 20px;
  margin-top: 150px;
}

.container-app {
  overflow: hidden;
}


/* end blog */

/* start subscribe */

.subscribe {
  position: relative;
  background-image: url(../images/reservation-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 47, 51, 0.5);
  top: 0;
}

.subscribe .container {
  position: relative;
  z-index: 2;
}

.subscribe .container .col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscribe .container p:first-child {
  position: relative;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
  left: 50px;
  width: 0;
}

.subscribe .container p:first-child::after {
  position: absolute;
  content: '';
  background-color: var(--main-color);
  width: 30px;
  height: 4px;
  border-radius: 3px;
  top: 3px;
  left: -45px;
}

.subscribe .container h1 {
  font-family: var(--font-family-secondary);
  font-size: 62px;
  color: white;
  padding-right: 376px;
}

.subscribe .container .p {
  font-family: var(--font-family);
  font-size: 16px;
  color: white;
}

.subscribe .container .col>div #email {
  outline: none;
  border-style: none;
  background-color: white;
  padding: 20px 120px 20px 30px;
}

.subscribe .container .col>div .btn {
  background-color: var(--main-color);
  color: white;
  outline: none;
  height: 100%;
  margin-left: -61px;
  border-style: none;
  font-family: var(--third-font-family);
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 30px;
  border-radius: 0;
  transition: all 0.5s ease;
}

.subscribe .container .col>div .btn:hover {
  transform: scale(1.02);
}

/* end subscribe */

/* start footer */
footer {

  background-color: #F3F2F0;
  padding: 40px 0px;
}

.logo-holder {
  position: relative;
  width: 8rem;
}

footer .container .row {
  justify-content: space-between;


}

.logo-holder img {

  width: 100%;
  height: 100%;

}

.socials {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.socials a {
  color: var(--colorFont);
  transition: all 0.3s ease;
}

.socials a:hover {
  color: var(--main-color);
}

.border-dot {
  border-top: 4px dotted #00000033;
  /* black dotted line */
  margin: 5rem 0;
}

footer h3 {
  color: var(--colorFont);
  font-family: var(--font-family-secondary);
  margin-bottom: 1.5rem;
}

footer p,
footer span {
  color: #6D797B;
  font-size: 1.1rem;
}

footer a {
  text-decoration: none;
  font-family: var(--cinzel-font);
  color: var(--main-color);
  font-weight: 100;
}

.tst-footer-contact ul {
  margin: 0;
  padding: 0;
}

.tst-footer-contact li {
  display: flex;
  list-style: none;
  justify-content: space-between;

}

.tst-footer-contact .tst-label {
  color: #1A2F33;
  font-weight: 570;
  font-family: var(--font-family);
  line-height: 27px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-style: normal;
}

.tst-footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0%;
  gap: 10px;
  margin-top: 5px;

}

.socail-col {
  position: relative;
}

.about-us-footer,
.contact-info-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.gallery-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery-container {
  position: relative;
  overflow: hidden;

}

.gallery-wrapper {
  display: flex;


}

.gallery-item {
  position: relative;
  flex-shrink: 0;
  /*  important for looping */
  width: 5.6rem !important;
  height: 5.4rem !important;
  overflow: hidden;
  border-radius: 5px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  transition: transform 0.3s ease;

}

.gallery-item .overlay {
  position: absolute;
  inset: 0;
  /* full cover */
  background: rgba(0, 0, 0, 0.5);
  /* dark effect */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.gallery-item .overlay i {
  font-size: 1.5rem;
  color: white;
}

/* Hover effects */
.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.71rem;
  /* gap:55px; */
}

.gallery-prev,
.gallery-next {

  color: rgba(0, 0, 0, 0.6);
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-controls {
  display: flex;
  align-items: center;
}

.copyrights p {
  font-size: 1rem;
  font-weight: 450;
}

.back-btn {
  display: flex;
  justify-content: flex-end;
}

/* Event Services Section Styles */
.event-services {
  background-color: #1A2F33;
  color: #fff;
}

.event-services .section-title {
  color: white;
  font-weight: 400;
  font-size: 50px;
  font-family: "Belleza", sans-serif;
  margin-bottom: 20px;
}

.btn-green {
  background-color: var(--main-color);
  color: #fff;
  border-radius: 25px;
  padding: 10px 30px;
  font-weight: bold;
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn-green:hover {
  transform: scale(1.05);
}

.service-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.service-card img:hover {
  transform: scale(1.05);
}

.service-card h5 {
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
}

.service-card p {
  color: #aaa;
  font-size: 15px;
}
/* end footer */