* {
  padding: 0px;
  margin: 0px;
}

::selection {
  background-color: var(--main-color);
  color: white;
}

:root {
  --main-color: #f76e2a;
  --colorFont: rgb(26, 47, 51);
  --secondary-color: #869193;
  --font-family: "Roboto", sans-serif;
  --font-family-secondary: "Belleza", sans-serif;
  --third-font-family: "Cinzel", sans-serif;
  --text-color: #F3F2F0;
  --cinzel-font: 'Cinzel', serif;
  --menu-item-color: #F3F2F0;
}

.container {
  max-width: 1240px;
}

p {
  margin-bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

* {
  scrollbar-width: thin;
  /* auto | thin | none */
  scrollbar-color: var(--main-color) var(--colorFont);
  /* thumb color | track color */
}


/* ====================== start of the header ==================================== */

.navbar {
  z-index: 1000;
}

header {
  /* min-height: 98px; */
  background-color: transparent;
  padding-top: 4px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000000;
  transition: all ease 0.4s;
}

/* When scrolled */
header.scrolled {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header.scrolled .nav-link,
header.scrolled .logo h4,
header.scrolled .logo h6,
header.scrolled .icon-shopping i {
  color: var(--colorFont) !important;
}

header .nav-link,
header .logo h4,
header .logo h6,
header .icon-shopping i {
  color: #ffffff !important;
}

.nav-links .home i {
  color: var(--main-color);
}

.nav-links {
  position: relative;
}

.nav-links .navbar-nav .nav-item .after-home::after {
  content: "";
  width: 53px;
  height: 3px;
  border-radius: 12px;
  position: absolute;
  background-color: var(--main-color);
  top: 100%;
  left: 53%;
}

.navbar .nav-item .nav-link {
  font-size: 16px;
  font-weight: 550;
  text-transform: none;
  letter-spacing: 0px;
  font-family: var(--font-family);
}

.dropdown-menu {
  background-color: var(--main-color);
  border-radius: 0px;
  transition: all 0.7 ease-in-out;
  min-width: 123px;
}

.dropdown-item {
  color: white;
  padding: 8px 16px;
}

.dropdown-item:hover {
  background-color: var(--main-color);
  color: #ffdcca;
}

.header-right-side {
  gap: 37px;
}

.header-right-side button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 16px 27px;
  letter-spacing: 1px;
  font-size: 14px;
  transition: all 0.6s ease-in-out;
}

.header-right-side button:hover {
  transform: scale(1.03);
}

.icon-shopping i {
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.icon-shopping i:hover {
  transform: scale(1.06);
  color: #dddddd;
}

#cart-count {
  background-color: #2ecc71;
  padding-right: 7px;
  padding-left: 7px;
}

/* ====================== end of the header ==================================== */


.hero-section {
  height: 15rem;
  /* position: relative; */
}

.hero-section .bgImg {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 33rem;
  object-fit: cover;
  top: 0;
  left: 0;
}

.hero-section .newsletter-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 33rem;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient(90deg, rgba(6, 34, 39, 0.849) 10%, rgba(6, 34, 39, 0.0) 100%);
}

.hero-section .main-text {
  /* z-index: 2; */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  color: #E5EBEF;
  margin-top: 7.2rem;
}

.hero-section .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 6.1rem;
}

/* ----------------- Titles & Text ----------------- */
.tst-suptitle {
  font-family: "Roboto";
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  margin: 0;
}

.tst-suptitle:before {
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 4px;
  background-color: #f39c12;
}

.tst-suptitle.tst-suptitle-center {
  text-align: center;
  padding-top: 20px;
}

.tst-suptitle.tst-suptitle-center:before {
  top: 0;
  left: 50%;
  margin-left: -15px;
}


.tst-title--h {
  font-family: "Belleza";
  font-size: 52px;
  font-weight: 400;
  color: var(--colorFont);
  margin: 20px 0;
}

.tst-text {
  opacity: .7;
  margin: 0;
}

.tst-text span {
  font-weight: 400;
  color: #514a4a;
}

/* ----------------- Blog Card ----------------- */
.blog-card {
  position: relative;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.category {
  position: absolute;
  top: 6%;
  left: 8%;
  background: #f76e2a;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.container-app .second-row,
.container-app .third-row {
  padding-top: 30px;
}

.blog-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-text {
  color: #a0a0a0;
  font-size: 14px;
  padding: 10px 14px 7px 0px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.author .oleksandr {
  padding-left: 35px;
  font-weight: 700;
}

.author .text-muted {
  background-color: #dfd9d9b5;
  border-radius: 14px;
  padding: 2px 10px;
  font-size: 12px;
  margin-top: 8px;
}

.author i {
  font-size: 24px;
  margin-right: 8px;
  color: gray;
}

.read-more {
  color: #f76e2a;
  /* font-weight: bold; */
  font-size: 14px;
  text-decoration: none;
}

.container-app .links {
  display: flex;
  gap: 20px;
  padding-top: 25px;
  padding-left: 15px;
}

.container-app .links a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 6px 12px;
  transition: all 0.4s ease-in-out;
}

.container-app .links a:hover {
  background-color: var(--main-color);
  color: white;
  transform: translate(-3px);
  border-radius: 4px;
}



/* ----------------- Utilities ----------------- */
.footer {
  opacity: .7;
  margin: 0 0 30px 0;
  line-height: 1.7;
}

.tst-spacer {
  height: 0;
  margin: 60px 0;
  border-bottom: dotted 4px rgba(26, 47, 51, .7);
}

.tst-spacer-sm {
  height: 1px;
  margin: 15px 0;
  border-bottom: dotted 2px rgba(26, 47, 51, .7);
  opacity: .3;
}


.text-center.app-txt-center {
  margin: 20px;
  margin-top: 150px;
}

.container-app {
  overflow: hidden;
}

.tst-btn {
  display: inline-block;
  line-height: 48px;
  padding: 0 25px;
  border: 2px solid #f76e2a;
  background-color: #f76e2a;
  color: #fff;
  font-family: "Cinzel", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  white-space: nowrap;
  margin-right: 20px;
}

.tst-btn:hover {
  background-color: #e65d16;
  border-color: #e65d16;
  color: #fff;
}

/* .justify-content-between{
    margin: 20px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */

/* END OF APP */

/* start subscribe */

.subscribe {
  position: relative;
  background-image: url(../images/reservation-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
  /* margin-bottom: 80px; */
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 47, 51, 0.5);
  top: 0;
}

.subscribe .container {
  position: relative;
  z-index: 2;
}

.subscribe .container .col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subscribe .container p:first-child {
  position: relative;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
  left: 50px;
  width: 0;
}

.subscribe .container p:first-child::after {
  position: absolute;
  content: '';
  background-color: var(--main-color);
  width: 30px;
  height: 4px;
  border-radius: 3px;
  top: 3px;
  left: -45px;
}

.subscribe .container h1 {
  font-family: var(--font-family-secondary);
  font-size: 62px;
  color: white;
  padding-right: 376px;
}

.subscribe .container .p {
  font-family: var(--font-family);
  font-size: 16px;
  color: white;
}

.subscribe .container .col>div #email {
  outline: none;
  border-style: none;
  background-color: white;
  padding: 20px 120px 20px 30px;
}

.subscribe .container .col>div .btn {
  background-color: var(--main-color);
  color: white;
  outline: none;
  height: 100%;
  margin-left: -61px;
  border-style: none;
  font-family: var(--third-font-family);
  font-size: 14px;
  letter-spacing: 2px;
  padding: 0 30px;
  border-radius: 0;
  transition: all 0.5s ease;
}

.subscribe .container .col>div .btn:hover {
  transform: scale(1.02);
}

/* end subscribe */
/* start footer */
footer {

  background-color: #F3F2F0;
  padding: 40px 0px;
}

.logo-holder {
  position: relative;
  width: 8rem;
}

footer .container .row {
  justify-content: space-between;


}

.logo-holder img {

  width: 100%;
  height: 100%;

}

.socials {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.socials a {
  color: var(--colorFont);
  transition: all 0.3s ease;
}

.socials a:hover {
  color: var(--main-color);
}

.border-dot {
  border-top: 4px dotted #00000033;
  /* black dotted line */
  margin: 5rem 0;
}

footer h3 {
  color: var(--colorFont);
  font-family: var(--font-family-secondary);
  margin-bottom: 1.5rem;
}

footer p,
footer span {
  color: #6D797B;
  font-size: 1.1rem;
}

footer a {
  text-decoration: none;
  font-family: var(--cinzel-font);
  color: var(--main-color);
  font-weight: 100;
}

.tst-footer-contact ul {
  margin: 0;
  padding: 0;
}

.tst-footer-contact li {
  display: flex;
  list-style: none;
  justify-content: space-between;

}


.tst-footer-contact .tst-label {
  color: #1A2F33;
  font-weight: 570;
  font-family: var(--font-family);
  line-height: 27px;
  font-size: 1rem;
  letter-spacing: 2px;
  font-style: normal;
}

.tst-footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0%;
  gap: 10px;
  margin-top: 5px;

}

.socail-col {
  position: relative;
}

.about-us-footer,
.contact-info-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.gallery-footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery-container {
  position: relative;
  overflow: hidden;

}

.gallery-wrapper {
  display: flex;


}

.gallery-item {
  position: relative;
  flex-shrink: 0;
  /*  important for looping */
  width: 5.6rem !important;
  height: 5.4rem !important;
  overflow: hidden;
  border-radius: 5px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  transition: transform 0.3s ease;

}

.gallery-item .overlay {
  position: absolute;
  inset: 0;
  /* full cover */
  background: rgba(0, 0, 0, 0.5);
  /* dark effect */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.gallery-item .overlay i {
  font-size: 1.5rem;
  color: white;
}

/* Hover effects */
.gallery-item:hover img {
  transform: scale(1.1);
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.71rem;
  /* gap:55px; */
}

.gallery-prev,
.gallery-next {

  color: rgba(0, 0, 0, 0.6);
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-controls {
  display: flex;
  align-items: center;
}

.copyrights p {
  font-size: 1rem;
  font-weight: 450;
}

.back-btn {
  display: flex;
  justify-content: flex-end;
}