@media (max-width: 1350px) {

  /* container */
  .container-aboutus {
    display: flex;
    position: relative;
    gap: 30px;
  }

  .container-aboutus .info {
    margin-left: 50px;
  }

  .container-aboutus .image img {
    width: 100%;
    min-width: 100px;
    max-height: 600;
    margin-right: 10px;
    padding-right: 50px;
  }

  .container-aboutus p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    max-width: 300px;
    margin-bottom: 30px;
  }

  .container-aboutus h2 {
    font-size: 50px;
  }

  /* container menu */
  .container-menu {
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -5px;
    max-width: 1200px;
    gap: 30px;
  }

  .container-menu p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    max-width: 300px;
    margin-bottom: 30px;
  }

  .container-menu .image img {
    width: 100%;
    min-width: 100px;
    margin-left: 10px;
    padding-left: 40px;
  }

  /* container-our-team */
  .container-our-team {
    gap: 0;
    margin-top: 30px;
    max-width: 1200px;
  }

  .container-our-team .info {
    max-width: 400px;
    padding-right: 0px;
  }

  .container-our-team h2 {
    font-size: 50px;
  }

  .container-our-team .image img {
    width: 100%;
    min-width: 100px;
    max-height: 600px;
    margin-left: 100px;
    padding-right: 150px;
  }

  .container-our-team .info {
    margin-left: 50px;
    min-width: 300px;
  }

  .container-our-team h2 {
    font-size: 50px;
  }
}

@media(min-width:992px)and (max-width: 1280px) {

  /* start menu */
  .main-menu-nav nav {
    font-size: 0.5rem;
    gap: 1rem;
  }

  .main-menu-nav .menu-nav a {

    font-size: .9rem;
    letter-spacing: 2px;
    position: relative;
  }

  .main-menu-text h2 {
    color: var(--text-color);
    font-size: 2.2rem;
    text-align: center;
    margin-top: 0.2rem;
  }

  .menu-end {
    font-size: .8rem;
  }


  /* end menu */


  .subscribe .container .col>div #email {
    width: 100%;
  }

  .testimonials .title p:last-child {
    padding: 0 340px;
  }

  .subscribe .container .col>div .btn {
    margin-left: 0;
    margin-top: 0;
  }

  .working-hours-time {
    width: 19rem;

  }

  .working-hours-row {
    justify-content: center;
    margin-right: 0;
  }

  .socials {

    display: flex;
    gap: 15px;
    justify-content: flex-end;
    position: static;
  }

  footer .container .row {
    justify-content: space-between;
    gap: 0rem;

  }
}

@media (max-width: 1265px) and (min-width:992px) {
  .logo img {
    width: 99px;
    height: 48px;
  }

  header .container-fluid .logo-nav .logo h4 {
    font-size: 19px !important;
  }

  .nav-links ul {
    font-size: 14px;
  }

  .nav-links .dropdown-menu .dropdown-item {
    font-size: 0.7rem !important;
  }

  .nav-links .dropdown-menu {
    min-width: 110px;
  }

}

@media (max-width: 1055px) and (min-width:992px) {


  /* start shop page */


  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* 3 columns, flexible */
    gap: 30px;
  }

  .shop-item-sort p {

    padding-top: .7rem;
  }


  /* end shop page */

}

@media(max-width:992px) {

  .aboutus h2,
  .text-center h2 {
    font-size: 30px;
  }

  .menu-info {
    padding-left: 35px;
  }

  .aboutus {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .aboutus p {
    margin-top: -10px;
  }

  .aboutus button {
    margin-top: -20px;
  }

  .header-right-side {
    order: 3;
  }

  .logo-nav .logo {
    order: 2;
    margin-left: 6%;
  }


  .logo img {
    width: 102px;
    height: 42px;
  }

  header .container-fluid .logo-nav .logo h4 {
    font-size: 19px !important;
  }

  .navbar-collapse {
    position: fixed;
    top: 0;
    left: -250px;
    width: 224px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 1.5rem;
    transition: left 0.3s ease;
    z-index: 1050;
    overflow-y: auto;
    box-shadow: 3px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 2300;
  }

  .navbar-collapse.show {
    left: 0;
  }

  .exit-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #000;
    font-size: 19px;
  }

  .navbar-collapse .nav-link {
    color: #000;
    font-weight: 600;
  }

  .navbar .nav-item .nav-link {
    color: #1a2f33 !important;
  }

  .navbar-collapse .dropdown-menu {
    position: static;
    background-color: #f4f4f4;
    box-shadow: none;
    margin: 0;
    padding: 0px;
  }

  .navbar-collapse .dropdown-item {
    color: #000;
  }

  .header-right-side button {
    padding: 12px 24px;
    font-size: 13px;
  }

  .background-image .background .background-text .welcoming h6::before {
    left: 46.3%;
  }

  .background-image .background .background-text h2 {
    font-size: 72px;
  }

  .background-image .background .background-text h2 span {
    font-size: 47px !important;
  }

  .background-image .background .background-text button a {
    font-size: 12px;
  }

  .background-image .background .background-text button {

    padding: 8px;
  }

  .gallery .head h1 {
    font-size: 34px;
  }

  .slider {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }

  /* start menu */
  .main-menu-nav nav {
    font-size: 0.5rem;
    gap: 1rem;
  }

  .main-menu-nav .menu-nav a {

    font-size: .6rem;
    letter-spacing: 2px;
    position: relative;
  }

  .main-menu-text h2 {
    color: var(--text-color);
    font-size: 2.1rem;
    text-align: center;
    margin-top: 0.2rem;
  }

  .menu-end {
    font-size: .8rem;
  }


  /* end menu */
  .testimonials .swiper .slider .button p {
    display: none;
  }

  .swiper-slide.swiper-slide-active .quotes {
    right: 28px;
  }

  .testimonials .title h1 {
    font-size: 40px;
    text-align: center;
  }

  .testimonials .title p:last-child {
    padding: 0;
  }

  .testimonials .swiper .slider a {
    margin: 0;
  }

  .container .col>div .ele {
    display: flex;
    justify-content: center;
  }

  .subscribe .container .col>div #email {
    padding: 20px 50px 20px 30px;
  }

  .subscribe .container .col>div .btn {
    margin-left: 0;
    margin-top: 30px;
  }

  .subscribe .container h1 {
    padding-right: 0;
    font-size: 42px;
  }

  .working-hours-content {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 15px;
  }

  .working-hours-content h6 {
    padding: 0;
  }

  .working-hours-content h6::before {
    left: 34.5%;
    top: -1.2rem;
    width: 32px;
  }

  .working-hours-content h1 {
    font-size: 2.5rem;
  }

  .working-hours-content .working-hours-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 15px;
    letter-spacing: 1px;

  }

  .working-hours-content .working-hours-btn-wrapper .booking-table-btn {

    padding: 17px 55px;
  }

  .working-hours-time {
    width: 22.06rem;
  }

  .working-hours-row {
    justify-content: center;
    margin: 0;

  }

  .socials {
    position: absolute;
    right: 1rem;

    bottom: 2.5rem;
  }

  footer .container .row {
    justify-content: space-between;
    gap: 1.8rem;

  }

  .border-dot {
    margin: 1.5rem 0;
  }

  /* start shop page */
  .shop-content-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "products"
      "categories";
  }

  .shop-hero .main-text p {
    font-size: 10px;

  }

  .shop-products {
    margin-bottom: 2rem;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* 3 columns, flexible */
    gap: 20px;
  }

  .shop-item-sort p {
    font-size: .7rem;
    padding-top: .7rem;
  }


  /* end shop page */
}


@media(max-width:991px) {
  .subscribe .container p:first-child {
    left: 0px;
    text-align: center;
    width: 100%;
  }

  .subscribe .container p:first-child::after {
    top: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .subscribe .container h1 {
    text-align: center;
  }

  .subscribe .container .p {
    text-align: center;
  }
}

@media(max-width:957px) {
  .d-flex p {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
  }
}

@media (min-width: 768px) and (max-width: 912px) {

  .socials {
    position: static;
    justify-content: flex-end;

  }

  footer .container .row {
    gap: 0;
  }

  footer span {
    color: #6D797B;
    font-size: .69rem;
  }

  footer p {
    font-size: .9rem;

  }

  footer h3 {
    margin-bottom: .5rem;
  }

  .border-dot {
    margin: 2.5rem 0;
  }

  .gallery-controls {

    margin-top: 2.8rem;
    /* gap:55px; */
  }

  .about-us-footer,
  .contact-info-footer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 0.2rem;
  }

  /* start shop page */


  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* 3 columns, flexible */
    gap: 30px;
  }

  .shop-hero .main-text p {
    font-size: 16px;
  }

  /* end shop page */
}

@media(max-width:767px) {
  .restaurant-about .gg {
    padding: 10px;
  }

  .aboutus {
    margin-bottom: 30px;
  }

  .menu-info {
    padding-left: 13px;
    margin-bottom: 30px;
  }

  .our-team-container {
    margin-bottom: 30px;
  }

  .background-image .background .background-text h2 {
    font-size: 55px !important;
  }

  .hero-section .main-text h1 {
    font-size: 4.1rem;
  }
}


@media (max-width:497px) {

  .background-image .background .background-text h2 {
    font-size: 42px !important;
  }

  .background-image .background .background-text .welcoming h6::before {
    left: 45.3%;
    width: 29px;
  }

  .header-right-side button {
    padding: 12px 10px;
    font-size: 10px;
  }

  .navbar>.container-fluid {
    flex-wrap: nowrap;
  }

  #main-header {
    padding-right: 0.5rem !important;
    padding-left: 0rem !important;
  }

  .navbar-toggler {
    padding: 0px 10px 3px !important;
  }

  .navbar-toggler-icon {
    font-size: 13px;
  }

  .logo img {
    width: 93px !important;
    height: 33px !important;
  }

  .header-right-side button {
    padding: 10px 12px !important;
    font-size: 10px !important;
  }

  .icon-shopping i {
    font-size: 22px;
  }

  #cart-count {
    padding-right: 6px;
    padding-left: 6px;
    font-size: 10px;
  }

  .background-image .background .background-text .book-a-table-button {
    padding: 10px 24px;
  }
}

@media (max-width:420px) {
  .background-image .background .background-text h2 {
    font-size: 29px !important;
  }

  .background-image .background .background-text h2 span {
    font-size: 30px !important;
  }

  .background-image .background .background-text button {
    padding: 4px;
    padding-top: 0px;
  }

  .background-image .background .background-text button a {
    font-size: 9px;
  }

  .hero-section .main-text h1 {
    font-size: 3.1rem;
  }
}

@media (max-width:393px) {

  .logo img {
    width: 74px !important;
    height: 32px !important;
  }

  header .container-fluid .logo-nav .logo h4 {
    font-size: 11px !important;
  }

  .background-image .background .background-text h2 {
    font-size: 31px !important;
  }

  .background-image .background .background-text .book-a-table-button {
    padding: 4px 12px 7px;
  }

  .background-image .background .background-text .welcoming h6 {
    font-size: 10px;
  }

  .icon-shopping i {
    font-size: 17px;
  }

  #cart-count {
    font-size: 9px;
  }

  .navbar-nav {
    font-size: 13px;
  }

  .header-right-side {
    gap: 14px;
  }

  .logo-holder {
    width: 5rem;
  }

  .navbar-collapse {
    width: 197px;
  }

  .nav-links .dropdown-menu .dropdown-item {
    font-size: 0.7rem !important;
  }

  .navbar-toggler-icon {
    font-size: 12px;
  }

  .navbar-toggler {
    padding: 0px 9px 3px !important;
  }
}


@media (min-width:344px)and (max-width:375px) {

  /* start menu */
  .main-menu-nav nav {
    font-size: 0.5rem;
    gap: .8rem;
  }

  .main-menu-nav .menu-nav a {

    font-size: .5rem;
    letter-spacing: 2px;
    position: relative;
  }

  .main-menu-text h2 {
    color: var(--text-color);
    font-size: 1.7rem;
    text-align: center;
    margin-top: 0.6rem;
  }

  .menu-end {
    font-size: .67rem;
  }


  /* end menu */

}

@media(max-width:361px) {
  .working-hours-row {
    justify-content: center;

    align-items: center;
    align-content: center;
  }

  .working-hours-time {
    width: 20.06rem;
  }

  .background-image .background .background-text .welcoming h6::before {
    left: 43.3%;}
  }