.tst-suptitle {
  font-family: "Roboto";
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  margin: 0;
}

.tst-suptitle:before {
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 4px;
  background-color: #f39c12;
}

.tst-suptitle.tst-suptitle-center {
  text-align: center;
  padding-top: 20px;
}

.tst-suptitle.tst-suptitle-center:before {
  top: 0;
  left: 50%;
  margin-left: -15px;
}


.tst-title--h {
  font-family: "Belleza";
  font-size: 52px;
  font-weight: 400;
  color: var(--colorFont);
  margin: 20px 0;  
  padding-bottom: 12px;
}

.tst-text {
   padding-bottom: 60px;
    opacity: .8;
    margin: 0;
    font-size: 14px;
    color: #514a4a;
}

.tst-text span {
  font-weight: 400;
  color: #514a4a;
}

.tst-mb-60{
  margin-bottom: 20px !important;
}
/* ----------------- Blog Card ----------------- */
.blog-card {
  position: relative;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
}

.category {
  position: absolute;
  top: 6%;
  left: 8%;
  background: #f76e2a;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 10px;
}

.container-app .second-row,
.container-app .third-row {
  padding-top: 30px;
}

.blog-title {
  font-size: 26px;
  /* font-weight: 600; */
  font-family: var(--font-family-secondary);
  margin-bottom: 10px;
}

.blog-text {
  color: #a0a0a0;
  font-size: 14px;
  padding: 10px 14px 7px 0px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
}

.author .oleksandr {
  padding-left: 35px;
  font-weight: 700;
}

.author .text-muted {
  background-color: #dfd9d9b5;
  border-radius: 14px;
  padding: 2px 10px;
  font-size: 12px;
  margin-top: 8px;
}

.author i {
  font-size: 24px;
  margin-right: 8px;
  color: gray;
}

.read-more {
  color: #f76e2a;
  /* font-weight: bold; */
  font-size: 14px;
  text-decoration: none;
}

.container-app .links {
  display: flex !important;
  gap: 13px;
  padding-top: 25px;
  padding-left: 15px;
  /* justify-content: flex-start; */
}

.links .link a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 6px 12px;
  transition: all 0.4s ease-in-out;
}

 .links a:hover {
  background-color: var(--main-color);
  color: white;
  transform: translate(-3px);
  border-radius: 4px;
}
