@media(max-width:992px) {
 .testimonials .swiper .slider .button p {
    display: none;
  }

  .testimonials .swiper-slide.swiper-slide-active .quotes {
    right: 28px;
  }

  .testimonials .title h1 {
    font-size: 40px;
    text-align: center;
  }

  .testimonials .title p:last-child {
    padding: 0;
  }

  .testimonials .swiper .slider a {
    margin: 0;
  }
    .testimonials .slider {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
}
@media(min-width:992px)and (max-width: 1280px) {
  .testimonials .title p:last-child {
    padding: 0 340px;
  }
}