@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
.testimonials {
  margin: 50px 0;
  background-color: white;
  overflow: hidden;
}
.testimonials .title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.testimonials .title::after {
  position: absolute;
  content: '';
  width: 26px;
  height: 4px;
  border-radius: 5px;
  background-color: var(--main-color);
  top: 0;
}

.testimonials .title p:first-child {
  font-family: var(--font-family);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  color: var(--colorFont);
  margin: 10px 0;
  margin-top: 20px;
}

.testimonials .title p:last-child {
  font-family: var(--font-family);
  padding: 0 444px;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  color: var(--secondary-color);
  margin: 10px 0;
}

.testimonials .title h1 {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 52px;
  font-style: normal;
  color: var(--colorFont);
}

.testimonials .swiper {
  padding: 35px 0 !important;
  border-bottom: 5px dotted rgb(194, 192, 192);
}

.testimonials .quotes-animate {
  animation: bounceUpDown 1s ease;
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.testimonials .swiper-slide {
  position: relative;
  cursor: default;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  font-size: 24px;
  border: 2px rgb(194, 192, 192) dotted;
  background: white;
  padding: 40px 30px;
}

.testimonials .swiper-slide h3 {
  font-family: var(--font-family-secondary);
  color: var(--colorFont);
  font-size: 1.75rem;
}

.testimonials .swiper-slide p {
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--secondary-color);
  margin: 30px 0;
}

.testimonials .swiper-slide .data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.testimonials .swiper-slide .data p {
  font-family: var(--font-family);
  font-size: 0.75rem;
  color: var(--colorFont);
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
}

.testimonials .swiper-slide .data p:last-child {
  color: var(--secondary-color);
  font-weight: 400;
  background-color: #E3E5E6;
  padding: 3px 8px;
  border-radius: 10px;
  margin-left: 20px;
}

.testimonials .swiper-slide .data img {
  height: 40px;
  border-radius: 50px;
  width: 40px;
}

.testimonials .swiper-slide.swiper-slide-active {
  background-color: #F3F2F0;
  border-color: transparent;
  box-shadow: 0 4px 13px #dadfe4;
}

.testimonials .swiper-slide .quotes {
  display: none;
}

.testimonials .swiper-slide.swiper-slide-active .quotes {
  display: flex;
  font-family: var(--font-family-secondary);
  line-height: 100px;
  position: absolute;
  top: 0;
  font-size: 220px;
  right: 0;
  color: var(--main-color);
  text-shadow: 0 2px 7px rgba(26, 47, 51, .15);
}

.testimonials .swiper-slide.swiper-slide-active>div p:last-child {
  background-color: #D9DAD9;
}

.testimonials .slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0;
}

.testimonials .swiper .slider .swiper-pagination {
  outline: none;
  border-style: none;
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.testimonials .pulse {
  animation: bounce 0.3s ease;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(0.25);
  }

  50% {
    transform: scale(0.5);
  }

  75% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}

.testimonials .swiper-button-next .swiper-navigation-icon,
.testimonials .swiper-button-prev .swiper-navigation-icon {
  display: none !important;
}

.testimonials .swiper .slider .button {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.testimonials .swiper .slider .button p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--colorFont);
}

.testimonials .swiper .slider .button .swiper-button-next,
.testimonials .swiper .slider .button .swiper-button-prev {
  position: relative;
  outline: none;
  font-size: 14px;
  color: var(--colorFont);
  top: 0;
  margin-top: 0;
}

.testimonials .swiper .slider .button .swiper-button-next i,
.testimonials .swiper .slider .button .swiper-button-prev i {
  outline: none;
}

.testimonials .swiper .slider .button .swiper-button-next {
  margin-left: 40px;
}

.testimonials .swiper .slider .swiper-pagination-bullet-active {
  border: var(--main-color) 5px solid;
  width: 14px;
  height: 14px;
}

.testimonials .swiper .slider a {
  text-decoration: none;
  font-family: var(--third-font-family);
  font-size: 14px;
  padding: 15px 30px;
  margin-right: 20px;
  margin-left: 3px;
  color: white;
  background-color: var(--main-color);
  transition: all 0.5s ease;
}

.testimonials .swiper .slider a:hover {
  transform: scale(1.02);
}

.numbers {
  margin: 60px 0;
}

.numbers .ele {
  margin: 20px 0;
}

.numbers .top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  margin-top: 20px;
}

.numbers .top h1 {
  color: var(--colorFont);
  font-size: 52px;
  font-family: var(--font-family-secondary);
}

.numbers .top h1:last-child {
  color: var(--main-color);
}

.numbers p {
  text-align: center;
  color: var(--colorFont);
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 2px;
}
