.cart-popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background: #fff;
  padding: 20px;
  box-shadow: -4px 0 20px rgba(0,0,0,0.15);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.cart-popup.slide-in {
  transform: translateX(0);
   overflow-y: auto; /* scroll فقط على محور Y */
  overflow-x: hidden; /* منع scroll على محور X */
  height: 100vh;
}
/* Firefox */
.cart-popup.slide-in {
  scrollbar-width: thin; /* يجعل scrollbar أنحف */
  scrollbar-color: rgba(175, 96, 6, 0.3) rgba(0, 0, 0, 0.05); /* thumb & track */
}




.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family-secondary);
}

.close-popup {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.cart-row {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 10px;
}

.cart-row img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 5px;
}

.cart-info {
  flex: 1;
}

.remove-item {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.subtotal {
  margin-top: auto;
  font-weight: bold;
}

.cart-popup .btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  
}
.cart-popup .btn.checkout:hover{
   
 background: #3333339f;
}
.cart-popup .btn:not(.checkout):hover{
 background: #eb600fb9;
}

.cart-popup .btn.checkout {
  background: #333;
  color: #fff;
}

.cart-popup .btn:not(.checkout) {
  background: var(--main-color);
  color: #fff;
}

.empty {
  text-align: center;
  padding: 50px 0;
  color: #999;
}
