
.menu-hero-section {
  height: 21.9rem;
}

.menu-hero-section video {
  position: absolute;
  width: 100%;
  height: 28rem;
  object-fit: cover;
  top: 0;
  left: 0;
}

.menu-hero-section .shop-overlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 28rem;
  width: 100%;
  background-image: linear-gradient(90deg, rgba(6, 34, 39, 0.849) 10%, rgba(6, 34, 39, 0.0) 100%);
}
.menu-hero-section .container{
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
}
.menu-hero-section .main-text {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  color: #E5EBEF;
  margin: 4rem 0;
}

.menu-hero-section .main-text h1 {
  font-family: var(--font-family-secondary);
  font-size: 6.4rem;

}

/* start menu */
.menu-1{
  margin-top: 3rem;
}

.menu-1 .swiper-pagination {
  bottom: auto !important;
  margin: 20px 0;
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-1 .swiper{
    padding: 0 !important;
}
.menu-1 .swiper-pagination .swiper-pagination-bullet {
  width: 11.5rem;
  height: 2.9rem;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorFont);
  font-size: 0.9rem;
  font-family: var(--cinzel-font);
  background-color: white;
  opacity: 1 !important;
  transition: all 0.5s ease;
  letter-spacing: 2px;
}

.menu-1 .swiper-pagination .swiper-pagination-bullet-active {
  color: white;
  background-color: var(--main-color);
}
.menu-1 .swiper-wrapper .swiper-slide{
  flex-direction: column;
}
.menu-1 .swiper-wrapper .swiper-slide .menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  position: relative;
  padding: 20px 0;
}

.menu-1 .swiper-wrapper .swiper-slide .menu-title span:first-child {
  font-family: var(--font-family);
  color: black;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2px;
}

.menu-1 .swiper-wrapper .swiper-slide .menu-title span:last-child {
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-size: 16px;
}

.menu-1 .swiper-wrapper .swiper-slide .menu-title h1 {
  font-family: var(--font-family-secondary);
  font-size: 3.25rem;
  letter-spacing: 2px;
  color: var(--colorFont);
}

.menu-1 .swiper-wrapper .swiper-slide .menu-title::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  height: 4px;
  border-radius: 2px;
  width: 30px;
  top: 0;
}

.menu-1 .swiper-wrapper {
  margin: 70px 0;
}

.menu-1 .swiper-wrapper .swiper-slide .row {
  margin-top: 70px;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 30px;
  background-color: #F3F2F0;
  margin-bottom: 50px;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content>a img {
  width: 130px;
  height: 160px;
  object-fit: cover;
  transition: all 0.5s ease;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content>a img:hover {
  transform: scale(1.05);
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t1 a {
  text-decoration: none;
  font-family: var(--font-family-secondary);
  color: var(--colorFont);
  font-size: 1.75rem;
  display: flex;
  width: fit-content;
  line-height: 1;
  margin-bottom: 15px;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t1 span {
  font-family: var(--font-family);
  font-size: 1.05rem;
  color: var(--secondary-color);
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t2,
.menu-1 .swiper-wrapper .swiper-slide .row .content .t1 {
  display: flex;
  flex-direction: column;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t2 {
  padding-right: 30px;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t2 .span-wrapper {
  font-family: var(--font-family);
  font-size: 1.15rem;
  font-weight: 600;
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t2 a {
  text-align: center;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t2 a i:hover {
  background-color: #ff7b39;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t2 a i {
  color: white;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 50%;
  width: 37px;
  transition: all 0.5s ease;
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t2 .span-wrapper span:last-child {
  color: var(--colorFont);
}

.menu-1 .swiper-wrapper .swiper-slide .row .content .t2 .span-wrapper .sign {
  color: var(--secondary-color);
  font-weight: 400;
}

/* end menu */

/* start menu-extra */

.menu-extra .swiper-pagination {
  bottom: auto !important;
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-extra .swiper-pagination .swiper-pagination-bullet {
  width: 11.5rem;
  height: 2.9rem;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colorFont);
  font-size: 0.9rem;
  font-family: var(--cinzel-font);
  background-color: white;
  opacity: 1 !important;
  transition: all 0.5s ease;
  letter-spacing: 2px;
}

.menu-extra .swiper-pagination .swiper-pagination-bullet-active {
  color: white;
  background-color: var(--main-color);
}
.menu-extra .swiper-wrapper .swiper-slide {
  flex-direction: column;
}
.menu-extra .swiper-wrapper .swiper-slide .menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  position: relative;
  padding: 20px 0;
}

.menu-extra .swiper-wrapper .swiper-slide .menu-title::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  height: 4px;
  border-radius: 2px;
  width: 30px;
  top: 0;
}

.menu-extra .swiper-wrapper .swiper-slide .menu-title span:first-child {
  font-family: var(--font-family);
  color: black;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2px;
}

.menu-extra .swiper-wrapper .swiper-slide .menu-title span:last-child {
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-size: 16px;
}

.menu-extra .swiper-wrapper .swiper-slide .menu-title h1 {
  font-family: var(--font-family-secondary);
  font-size: 3.25rem;
  letter-spacing: 2px;
  color: var(--colorFont);
}

.menu-extra .swiper-wrapper {
  margin-bottom: 70px
}

.menu-extra .swiper-wrapper .swiper-slide .row {
  margin-top: 70px;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 30px;
  background-color: #F3F2F0;
  margin-bottom: 50px;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content>a img {
  width: 130px;
  height: 160px;
  object-fit: cover;
  transition: all 0.5s ease;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content>a img:hover {
  transform: scale(1.05);
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t1 a {
  text-decoration: none;
  font-family: var(--font-family-secondary);
  color: var(--colorFont);
  font-size: 1.75rem;
  display: flex;
  width: fit-content;
  line-height: 1;
  margin-bottom: 15px;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t1 span {
  font-family: var(--font-family);
  font-size: 1.05rem;
  color: var(--secondary-color);
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t2,
.menu-1 .swiper-wrapper .swiper-slide .row .content .t1 {
  display: flex;
  flex-direction: column;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t2 {
  padding-right: 30px;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t2 .span-wrapper {
  font-family: var(--font-family);
  font-size: 1.15rem;
  font-weight: 600;
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t2 a {
  text-align: center;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t2 a i:hover {
  background-color: #ff7b39;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t2 a i {
  color: white;
  background-color: var(--main-color);
  padding: 10px;
  border-radius: 50%;
  width: 37px;
  transition: all 0.5s ease;
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t2 .span-wrapper span:last-child {
  color: var(--colorFont);
}

.menu-extra .swiper-wrapper .swiper-slide .row .content .t2 .span-wrapper .sign {
  color: var(--secondary-color);
  font-weight: 400;
}

/* end menu-extra */
/* start menu-2 */
.menu-2{
    margin-top: 75px;
}
.menu-2 .menu-2-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
  position: relative;
  padding: 20px 0;
  margin-bottom: 80px;
}

.menu-2 .menu-2-title span:first-child {
  font-family: var(--font-family);
  color: black;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 2px;
}

.menu-2 .menu-2-title span:last-child {
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-size: 16px;
}

.menu-2 .menu-2-title h1 {
  font-family: var(--font-family-secondary);
  font-size: 3.25rem;
  letter-spacing: 2px;
  color: var(--colorFont);
}

.menu-2 .menu-2-title::after {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  height: 4px;
  border-radius: 2px;
  width: 30px;
  top: 0;
}

.menu-2 .swiper-2 .slider .button .swiper-button-next i,
.menu-2 .swiper-2 .slider .button .swiper-button-prev i {
  outline: none;
}

.menu-2 .swiper-2 .slider .button .swiper-button-next {
  margin-left: 40px;
}

.menu-2 .swiper-2 .slider .button .swiper-button-next,
.menu-2 .swiper-2 .slider .button .swiper-button-prev {
  position: relative;
  outline: none;
  font-size: 14px;
  color: var(--colorFont);
  top: 0;
  margin-top: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none !important;
}
.swiper-button-prev .swiper-navigation-icon, .swiper-button-next .swiper-navigation-icon{
      display: none !important;
}
.menu-2 .swiper-2 .slider {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 0 100px 0;
}

.menu-2 .swiper-2 .slider .button {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.menu-2 .swiper-2 .slider .button p {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--colorFont);
}

.menu-2 .swiper-2 .slider a {
  text-decoration: none;
  color: white;
  font-family: var(--cinzel-font);
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  padding: 18px 35px;
  transition: all 0.5s ease;
  margin-left: 3px;
}

.menu-2 .swiper-2 .slider a:hover {
  transform: scale(1.02);
}
.menu-2 .swiper-2 .swiper-slide{
  flex-direction: column;
}
.menu-2 .swiper-2 .swiper-slide>a {
  display: flex;
  height: fit-content;
  overflow: hidden;
}

.menu-2 .swiper-2 .swiper-slide>a img {
  width: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.menu-2 .swiper-2 .swiper-slide>a:hover img {
  transform: scale(1.03);
}

.menu-2 .swiper-2 .swiper-slide .content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-2 .swiper-2 .swiper-slide {
  background-color: #F3F2F0;
}

.menu-2 .swiper-2 .swiper-slide .content>a {
  text-decoration: none;
  color: var(--colorFont);
  font-family: var(--font-family-secondary);
  font-size: 1.75rem;
  display: flex;
  width: fit-content;
}

.menu-2 .swiper-2 .swiper-slide .content>span {
  color: var(--secondary-color);
  font-family: var(--font-family);
  font-size: 1rem;
}

.menu-2 .swiper-2 .swiper-slide .content>div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.menu-2 .swiper-2 .swiper-slide .content>div .price span {
  font-family: var(--font-family);
}

.menu-2 .swiper-2 .swiper-slide .content>div .price span:first-child {
  color: var(--secondary-color);
  font-size: 1rem;
}

.menu-2 .swiper-2 .swiper-slide .content>div .price span:first-child .sign {
  color: rgb(171, 177, 177);
}

.menu-2 .swiper-2 .swiper-slide .content>div .price span:last-child {
  font-family: var(--font-family);
  color: var(--colorFont);
  font-size: 1.4rem;
  font-weight: 600;
}

.menu-2 .swiper-2 .swiper-slide .content>div .price span:last-child .sign {
  color: var(--secondary-color);
  font-weight: 400;
}

.menu-2 .swiper-2 .swiper-slide .content>div>a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 20px 23px;
  background-color: var(--main-color);
  transition: all 0.5s ease;
}

.menu-2 .swiper-2 .swiper-slide .content>div>a:hover {
  background-color: #ff7b39;
}

/* end menu-2 */
