/* ----------------- Titles & Text ----------------- */

.gallery-txt-center {
  padding-top: 50px;
  margin-top: 30px;
}

.tst-suptitle {
  font-family: "Roboto";
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 800;
  margin: 0;
}

.tst-suptitle:before {
  content: "";
  height: 4px;
  border-radius: 2px;
  width: 30px;
  position: absolute;
  left: 0;
  top: 10px;
  background-color: #f39c12;
}

.tst-suptitle.tst-suptitle-center {
  text-align: center;
  padding-top: 20px;
}

.tst-suptitle.tst-suptitle-center:before {
  top: 0;
  left: 50%;
  margin-left: -15px;
}

.description-gallery {
  padding-top: 15px !important;
  color: #878787;
}

.tst-title--h {
  font-family: "Belleza";
  font-size: 52px;
  font-weight: 400;
  color: var(--colorFont);
  margin: 20px 0;
}

.tst-text span {
  font-weight: 400;
  color: #514a4a;
}

/* ----------------- start of the pictures ------------- */

.gallery-links {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 50px;
}

.gallery-links button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.gallery-links button.active {
  background-color: var(--main-color);
  color: white;
}

.gallery-links button:not(.active) {
  background-color: white;
  color: #8f8585;
}


.gallery-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  padding-bottom: 45px;
}

.gallery-item-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----- Overlay (hover effect) ----- */
.overley-one {
  position: absolute;
  bottom: 20;
  left: -20;
  height: 100%;
  width: 100%;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gallery-item-wrapper:hover .overley-one {
  opacity: 1;
}

.overley-one .category {
  color: white;
}

.overley-one .type {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

/* ----------------- end of the pictures ------------- */

/*------------------ css related for the pop-up--------- */
.popup-backdrop {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.popup-img {
  max-width: 80%;
  max-height: 70%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.popup-title {
  margin-top: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

@media(max-width:720px) {
  .gallery-item-wrapper {

    height: auto;
  }
}

@media (max-width :485px) {
  .gallery-links {
    gap: 17px;
  }

  .gallery-links button {
    font-size: 13px;
  }

  .tst-title--h {
    font-family: "Belleza";
    font-size: 41px;
  }

  .tst-text span {
    font-size: 13px;
  }

  .gallery-image {
    gap: 11px}

  .tst-text {
    padding-top: 0px;
  }

  .overley-one .category {
    font-size: 10px;
  }

  .overley-one .type {
    font-size: 12px;
  }
}

@media (max-width:383px) {
  .gallery-links {
    gap: 4px;
  }

  .tst-title--h {
    font-size: 36px;
  }

  .tst-text span {
    font-size: 11px;
  }

  .gallery-links button {
    font-size: 9px;
  }

  .gallery-image {
    gap: 10px;
  }
}